[2019-12-10 22:41] fspmarshall opened #1 "All teleport plugins should log the identity of users approving / declining requests"
The slackbot should log the identity of users when they approve or deny requests.

Once https://github.com/gravitational/teleport/issues/3204 has been resolved, user identity should be supplied to the Auth Server when setting request state.

[2019-12-19 01:21] marshall-lee opened #2 "Consider watcher re-connection in Slackbot"
Problem: when the watcher connection breaks, the whole bot process fails.
We should somehow re-establish a broken connection.

[2019-12-19 01:26] marshall-lee opened #3 "Write integration tests for Slackbot"
To continue improving a bot, its key functionality should be covered with tests.

Integration tests should cover the following scenarios:
- test that a slack message was posted when a request popped up
- test that approve button approves a request
- test that decline button declines a request
- add tests for a situation when the request is expired when the button is clicked.

Packages to help:
- `

[2019-12-26 14:25] #3 closed

[2019-12-27 18:26] benarent opened #7 "Documentation for Slack Bot"
We often start with a documentation first approach to product development. This issue is to track the high level docs required for our end users.

- [ ] How to setup `Teleport Plugin` Binary
- [ ] How to export cert & roles to approve roles
- [ ] How to obtain the correct API keys & OAuth tokens from Slack.
- [ ] Approval Workflow. How to setup the roles & integrate with your team.

[2020-01-09 13:28] #2 closed

[2020-01-09 17:18] benarent opened #9 "Packaging and release Teleport Plugins"
As we start to get ready for releasing the Teleport Plugins we should provide the same convenience & packaging as for current Teleport binaries.

- [ ] Inclusion of Automated Testing
- [ ] Follow same release best practices for Teleport.
- [ ] Package available at https://get.gravitational.com/

[2020-01-09 17:18] benarent commented on #9
@wadells @webvictim This still might be a little bit out, but I wanted to put it on your radar for early feedback.

[2020-01-09 20:29] benarent opened #11 "One binary or multiple per plugin?"
I'm currently working on some docs / developer experience prior to development.

While following the same guidelines as Teleport, I've created a quickstart and guide for running Teleport Plugins. https://gist.github.com/benarent/da80e3167ed1e997818ed37d355ad422#test-run

The current Teleport Plugin is the first version of https://github.com/gravitational/teleport/issues/2461 . which is still in th

[2020-01-09 20:33] benarent commented on #11
@klizhentas  I chatted to @fspmarshall about this today. We reviewed you current plugin doc but wasn't 100% sure which direction to go in. Feel free to review the issue, reply or we can have a quick call about it.

[2020-01-09 20:34] benarent commented on #7
I have a WIP for this https://gist.github.com/benarent/da80e3167ed1e997818ed37d355ad422#installing

[2020-01-09 20:43] benarent opened #12 "Provide alternative to `ngrok http`"
In the current implementation Forrest has been using `ngrok http` to proxy the requests from Slack.  We should provide this functionally natively within the plugin, and provide TLS support.

If the customer terminates at a load balancer with `--insecure-no-tls` https://gravitational.com/teleport/docs/cli-docs/#teleport-start

[code]

[2020-01-09 20:43] klizhentas commented on #11
I think a separate binary per plugin is better, because some plugins will be not `go` but other languages - python, java, etc.

[2020-01-09 22:01] klizhentas commented on #11
@benarent was looking for this issue, let's move all issues to teleport repo, so we have one place. @fspmarshall @marshall-lee before the release we have to make sure that the plugins verify the version of the server for compatibility like `tsh` does and refuse to start if the versions are incompatible.

[2020-01-14 14:28] marshall-lee opened #13 "Simple Makefile for Slackbot"
It should support `make release` pretty similar to how Teleport does it.

[2020-01-14 23:04] benarent opened #15 "We need to vendor go-toml"
When trying to build the plugin on a fresh bot I ran into an issue, @fspmarshall has said it's a bug and we should vendor http://github.com/pelletier/go-toml

[2020-01-17 14:37] #13 closed

[2020-01-21 02:03] xnutsive commented on #7
I've updated the doc a bit in a fork. Setup everything without any issues. https://gist.github.com/xnutsive/34b0f2c472f9657825c1a14b04eb73e1

I'll test the systemd part, and if everything's ready — we can do a screencast and start rolling this out.

[2020-01-21 02:04] xnutsive commented on #15
Yep, I've had to to `go dep` and install it manually as a workaround.

[2020-01-21 02:10] xnutsive commented on #12
Looks like our current implementation just listens as an http server and doesn't provide TLS support, right @marshall-lee? Sounds like just plugging TLS support + config entries shouldn't take long?

[2020-01-21 02:13] xnutsive commented on #7
What do you mean re: approval workflows?

One thing I myself am not sure about is how can a user request a role? There's `tctl request create`, but my understanding was that `tctl` is an admin tool, not an enduser tool?

[2020-01-21 02:27] benarent commented on #7
See https://gravitational.com/teleport/docs/enterprise/#setup

It uses `tsh`

[code]

[2020-01-21 02:41] xnutsive opened #17 "Better config support for ./slackbot start"
When using `./slackbot start`, you currently have to add an unnamed arg with a path to the config file, like this: `./slackbot start config.toml`. It won't work with `-f config.toml`.

This is inconsistent with how other Teleport services work:
- Teleport daemon expects /etc/teleport.yaml
- `tctl` actions expect an unnamed argument, or a `-f` argument.

1. Should we switch to yaml so all the confi

[2020-01-21 02:56] xnutsive opened #18 "Check Teleport version for compatibility on slackbot start"
In [Teleport's #3255](https://github.com/gravitational/teleport/issues/3255):

[2020-01-21 02:57] xnutsive commented on #15
Since plugins repo vendor is based on the teleport repo vendoring, should we fix vendor it in the teleport repo?

[2020-01-21 02:57] xnutsive commented on #7
Ah, my bad. Thanks for pointing this out!

[2020-01-21 06:32] fspmarshall commented on #15
@xnutsive The `go-toml` dependency is specific to this project, and should be vendored here.  The hacky vendoring is a temporary fix because `teleport` hasn't been updated to use `modules` yet.

[2020-01-21 06:40] fspmarshall commented on #17
The usage of `toml` is deliberate.  We're going to be using `toml` as our preferred configuration format for new projects going forward.

In terms of consistency, I like the idea of having a `-c`/`--config` flag.  It may be worth deciding on an absolute path to use as a default, similar to `/etc/teleport.yaml`.  `slackbot.toml` seems a bit too generic, so maybe `teleport-slackbot.toml` or somethin

[2020-01-21 17:35] benarent commented on #17
+1 all of @fspmarshall comments.

[2020-01-21 18:55] benarent opened #21 "watcher initialization timed out. Reconnecting... errors"
While testing, I didn't manage to get the bot running. I ended out with these errors. We should ideally provide a more actionable and friendlier message.

[code]

[2020-01-21 18:56] benarent opened #22 "Update permission for upcoming Slack updates."
https://medium.com/slack-developer-blog/more-precision-less-restrictions-a3550006f9c3

[2020-01-21 19:06] xnutsive opened #23 "Add install script to release tarballs"
The resulting release tarball should have an install bash script that copies Slackbot binary into `/usr/local/bin`. [Teleport already has a script like this](https://github.com/gravitational/teleport/blob/master/build.assets/install), we just need to bundle it into the tarball.

I can do this myself if that's alright ;)

[2020-01-21 19:27] benarent commented on #21
This should be fixed by https://github.com/gravitational/teleport-plugins/issues/12 .

[2020-01-21 19:31] benarent opened #24 "Recommend Port 8081 ?"
We have designed Teleport to expose the Proxy, https://gravitational.com/teleport/docs/admin-guide/#ports `error: listen tcp 10.2.1.55:8080: bind: address already in use`

When trying to run the Slackbot on the same  machines as the Proxy, it's not possible due to a port conflict. Should we change the recommended default port? Or keep it the same? @fspmarshall

[2020-01-21 19:32] xnutsive opened #25 "Don't output log info to stdout / stderr by default, but add a debug flag to the CLI"
Teleport has quite a few useful flags in the binary, and for consistency we'll add a few of them:

[code]

For this issue, we want to add `-d, --debug` flag. By default, Slackbot should not output log info (approved / declined / pending requests, and startup events) to the console.  If the startup is successful, it should output that the grpc watcher and the slack listener are up (and on which add

[2020-01-21 19:36] xnutsive commented on #22
This will only affect the user setup guide, as far as I see. Yes, the scope names will change in the guide, but we won't be affected by any restrictions they apply to App Directory since Slackbot won't be listed, and people will just  create a new Slack app for it and deploy it to their Slack Workspace.

[2020-01-21 19:40] xnutsive commented on #12
Discussed this with @benarent and @fspmarshall and decided:

1. Slackbot should support TLS.
2. Slackbot should have a `--insecure-no-tls` option that disables it, consistently with Teleport behavior.

[2020-01-21 19:55] marshall-lee commented on #25
Why it shouldn't? It just only doesn't need to spam log entries with DEBUG severity by default but other entries should be printed. Also, I had already added the `-d` command line flag for raising a logger severity to debug level https://github.com/gravitational/teleport-plugins/pull/4

What we really lack, is a logging configuration of different outputs (`stderr`, `stdout`) and severity. Look htt

[2020-01-21 20:01] marshall-lee commented on #24
I think for plugins we need something 5-digit, say 30000

[2020-01-21 20:28] benarent opened #26 "Provide a better error message."
![image](https://user-images.githubusercontent.com/559288/72840546-52580200-3c49-11ea-8cb6-29cfbcb27792.png)

I would recommend something more user friendly.

Teleport Slackbot Verification failed. Please double check your Slackbot configuration.

[2020-01-21 20:34] xnutsive commented on #24
Why 5 digits?

[2020-01-21 20:35] xnutsive commented on #24
I can set 8081 for now, and if we make a decision to go for 5 digits later — we can set those up for Slackbot, Jirabot, and others consistently.

[2020-01-21 20:41] marshall-lee commented on #21
@benarent No, it's unlikely related to #12 which is about http listener but your error comes from Teleport.

The error should be renamed to something like "Couldn't connect to Teleport auth server" but it cannot say more, i.e. the reason why it couldn't connect.
Possible reasons: can't see a server, certificate is invalid/expired.

Another  if you set `auth-server` config entry to something like "

[2020-01-21 21:07] marshall-lee commented on #26
Need to forbit `GET` requests to this endpoint. Seeing "verification failed" error in browser could be confusing since this endpoint is not for browsers.

[2020-01-21 21:22] benarent commented on #26
Could we add a `/webapi/ping` instead, that'll output the status of the plugin? We do this for Teleport and it's a helpful debugging tool. https://teleport-4-2-1.practice.io:3080/webapi/ping

[2020-01-21 22:52] benarent opened #27 "Include Cluster name in Request"
Currently:
[code]

With Cluster Name:
[code]

[2020-01-21 23:11] benarent opened #28 "Improve Slackbot Message"
We currently use a very minimal Slackbot message.

## Before
<img width="638" alt="Image 2020-01-21 at 2 49 14 PM" src="https://user-images.githubusercontent.com/559288/72851262-f64ca800-3c5f-11ea-89e4-5cdc305a7e20.png">

## Proposal
I've extended one of Slacks official message templates.
https://gist.github.com/benarent/e5368c8a1f867dc778dfa0095dd94137
![image](https://user-images.githubuserconte

[2020-01-21 23:21] benarent opened #29 "tsh role request hangs / EOF quickly"
While requesting a role, after  5- 10min I had an EOF error.

[code]

[2020-01-21 23:22] benarent opened #30 "Error Log should update state"
Currently when a request is denied, it show's that it's still `State:PENDING`

[code]

[2020-01-22 01:34] xnutsive commented on #30
Yep, this should have a clear language about several things:

1. Previous state and current state
2. User who requested the permission
3. Slack user who granted the permission (#1)

[2020-01-22 01:36] xnutsive commented on #29
I assume the expected behavior is that the command should wait until the request is granted or declined and output the result?

[2020-01-22 02:10] xnutsive commented on #23
#32 (my bad for not converting the issue to a pull request, but I'll close this and we'll review and merge the PR)

[2020-01-22 02:10] #23 closed

[2020-01-22 12:24] DarthSim commented on #15
Since we try to keep the stack similar to Teleport, I think it makes sense to switch to Yaml.

[2020-01-22 16:49] xnutsive commented on #12
I'll assign this to Sergey once he's in collaborators.

[2020-01-23 00:52] benarent commented on #29
There are likely two types of approval, real-time or batched. I would expect many to be batched and delayed.

Instead of EOF: I would suggest we supply the CLI instructions for how to check tctl status.

[code]

[2020-01-23 02:02] xnutsive commented on #29
So people running tsh client would usually also have access to a subset of tctl features, limited by their roles, and will in most cases have access to `tctl request ls`?

On Wed, Jan 22, 2020 at 4:52 PM, Ben Arent < notifications@github.com > wrote:

[2020-01-23 13:04] #24 closed

[2020-01-23 13:06] #30 closed

[2020-01-23 14:23] #15 closed

[2020-01-23 14:23] #21 closed

[2020-01-23 14:27] marshall-lee commented on #26
@benarent could you please create a separate issue about `/webapi/bing`?

[2020-01-23 14:28] #26 closed

[2020-01-23 15:06] marshall-lee commented on #27
Ping @fspmarshall not sure can we achieve this or not

[2020-01-23 15:08] marshall-lee commented on #27
@benarent @fspmarshall

Is it really necessary? It will be a constant every time. I think if someone wants to run slackbot across different clusters, it's worth to create separate Slack channels for these clusters.

[2020-01-23 15:55] #25 closed

[2020-01-23 22:37] benarent commented on #29
ow, that's my bad. I think this will have to be a new feature for tsh.

[2020-01-23 22:37] benarent commented on #29
@fspmarshall Is is possible to check the status of a role request for a user using `tsh`?

[2020-01-23 23:02] xnutsive commented on #12
Reopening to keep this in front of our eyes until we add a default TLS configuration.

[2020-01-23 23:04] xnutsive commented on #28
Once @marshall-lee've merged the big refactoring PR by @DarthSim, I can work on that. Should be done by end of week.

[2020-01-23 23:10] xnutsive commented on #1
@fspmarshall, one [half of this is done](https://github.com/gravitational/teleport-plugins/blob/7066422da9714f1d1f58dd40e99e6522cad19ae2/access/slackbot/main.go#L424). Not in an elegant way as of right now, but it does log who approved / denied a request on Slack.

Let's keep this open until we can send the events to Teleport's audit log.

[2020-01-23 23:11] xnutsive opened #36 "Update the install script to create /var/lib/teleport/plugins/"

[2020-01-24 02:33] benarent opened #37 "Check certificate validity on startup"
I came across the same issue as #21 again, and it was due to exporting a very short license. Can we add a check that'll check the certificate validity, and inform the user that the plug cert has expired.

[code]

[code]

[2020-01-24 14:16] #12 closed

[2020-02-01 03:10] xnutsive commented on #29
In the meantime, I've logged in with `tsh` and tested that `tsh login --request-roles` works if the request is denied / approved.

Testing what happens if I don't approve/deny it quickly now, I'll update the comment ;)

[2020-02-01 03:11] xnutsive commented on #22
This is addressed in #46, I'll close this once I make new screenshots for the guide.

[2020-02-01 03:12] xnutsive commented on #18
@marshall-lee created an issue on [Teleport for this (#3928)](https://github.com/gravitational/teleport/issues/3298).

[2020-02-01 03:13] xnutsive commented on #1
Here's how it currently looks after adding the structured logs:

[code]

[2020-02-01 05:21] xnutsive opened #48 "Documentation for Jira Bot"
Provide a .md with documentation on the prerequisites and installation instructions for teleport jira bot.

- [x] Prerequisites
- [x] Jira setup
- [x] Installation
- [x] Testing
- [ ] Production

[2020-02-04 09:22] xnutsive opened #49 "Consider adding `teleport-jirabot setup`that would automatically configure Jira instance"
FYI @benarent: Jira has an API that can register new webhooks, issue types, workflows, etc. That covers everything we need, and requires a few things to work:
1. A valid user API token
2. Admin / owner privileges for said user.
3. Valid Jira Server / Cloud address.

Right now we're requiring that our users setup their Jira instances themselves and providing a guide for it. We can simplify it by bu

[2020-02-04 17:26] #37 closed

[2020-02-04 18:35] marshall-lee commented on #49
Note: it's still just an idea. There're some problems:

- Webhooks registered using API live only 30 days but they could be refreshed (`PUT /rest/api/3/webhook/refresh`).
- This API works only for [Connect apps](https://developer.atlassian.com/cloud/jira/platform/integrating-with-jira-cloud/#atlassian-connect).
- Webhook setup should be idempotent, i.e. it must not register the same webhook twice.

[2020-02-04 18:56] marshall-lee commented on #49
We can try convert our app to a Connect app. But as far as I understand, connect apps don't work with JIRA Server installations, they're only for JIRA Cloud :(

[2020-02-04 19:29] marshall-lee opened #50 "Validate TeleportAccessRequestId field in JIRA"
`jirabot` relies on a custom issue field called `TeleportAccessRequestId`. Unfortunately, this is an editable text field and AFAIK it cannot be made readonly or hidden.

To protect ourselves, on approve/deny webhook we should compare current issue id with `issue_id` stored in `PluginData` associated with an access request which is located by `TeleportAccessRequestId` issue field.

[2020-02-04 19:41] marshall-lee opened #51 "Support different JIRA projects?"
For now, `jirabot` integrates only with a single jira project (board) specified in config file.
I thought it could be good to support multiple projects. Though I cannot come up with an idea how to route different access requests to their specific jira projects. For example, we could have a role -> project mapping but it's unclear what to do in a case when multiple roles being requested — create du

[2020-02-05 06:04] benarent commented on #49
I do like the idea for ease of use and setup, but as @marshall-lee mentioned it's JIRA Cloud only, and most RBAC customers use JIRA Server

[2020-02-06 18:01] #18 closed

[2020-02-06 18:01] #27 closed

[2020-02-07 12:53] #28 closed

[2020-02-20 07:02] xnutsive opened #55 "Jira Bot doesn't validate that the access request ID field is actually in the issue type"
When setting up Jira Bot, user configures which Jira project they want to use. Currently, the bot assumes that the project supports Jira issue type `Task`.

Bot then queries Jira for custom issue fields and verifies that there indeed is a field named `TeleportAccessRequestId`, but the bot doesn't verify if the project has the issue type `Task`, and if that issue type actually has the custom field

[2020-02-20 07:16] xnutsive opened #56 "Jira Issue name should be more detailed"
When creating a Jira Issue, let's make it more self explanatory. Request IDs should also be included, but they're not readable on their own:
<img width="309" alt="Screen Shot 2020-02-19 at 11 14 06 PM" src="https://user-images.githubusercontent.com/43633/74909678-ad2a6980-536d-11ea-90f8-1648e68abb5b.png">

Suggestion:

{{Username}} requests roles {{roles}} on {{datetime of request}}. req id: {{req

[2020-02-20 07:46] xnutsive opened #57 "Log Jira user email when request is approved or denied"
Same as with Slackbot, Jira bot should log the user's email when a user approves or denies a request.

[2020-02-20 07:48] xnutsive opened #58 "Test Jira Bot with JIRA Server"
@marshall-lee, I can back you up on this if you want my help, while you fix the other issues with jirabot?

upd: I'm on it.

[2020-02-20 18:25] benarent commented on #56
+1, suggestion looks like a great improvement to this.

[2020-02-21 00:47] xnutsive opened #59 "Validate Jira configuration on startup"
When you start `teleport-jirabot`, it'll start and log that it's listening for new requests even if the jira part of the config has invalid values, specifically the Jira URL, the project key, the custom access request id field, and the API token.

Then, when a new request pops up, the bot would fail with an error message.

**Suggestion**: since we can check if most of the config values are setup c

[2020-02-21 00:52] xnutsive opened #60 "Clarify the error message when the Jira URL is invalid"
As of right now, if the Jira URL in the config is invalid (most likely cases: doesn't include a protocol name (`https://`), or includes `/jira` in the end), the plugin will fail with different error messages that are not readable.

Missing http results in a segfault, and otherwise invalid URL just spits out the http response body, which would likely be a HTTP 404 page on the jira server (what we'v

[2020-02-26 00:49] benarent opened #61 "New Plugin: Microsoft Teams"
During a demo yesterday, Microsoft showed off using Teams to create a SOC event. With Team growing we should consider creating a plugin for it. https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/building-an-app

This is simply a placeholder, if a customer finds this. Please give it a 👍as a positive sign of intent.

[spec needed]

[2020-02-28 01:44] #57 closed

[2020-02-28 01:44] #50 closed

[2020-03-03 03:59] #55 closed

[2020-03-04 01:31] #59 closed

[2020-03-04 01:36] marshall-lee commented on #59
@xnutsive

Hi! See commit messages bb10473 and 640b73d for more details.

tl;dr:
- Custom field check is skipped since current implementation does not use custom field at all.
- JIRA server URL is impossible to validate correctly since base URL is in fact configurable in JIRA settings. It's incorrect to just check for `/jira` prefix. So I implemented a bunch of "api health checks" that are execute

[2020-03-04 01:37] marshall-lee commented on #60
See https://github.com/gravitational/teleport-plugins/issues/59#issuecomment-594271148

[2020-03-04 01:37] #60 closed

[2020-03-04 14:30] #56 closed

[2020-03-05 00:09] benarent opened #62 "New Plugin: Pagerduty"
Create an '/incident' in PD https://v2.developer.pagerduty.com/docs/api-picker

https://v2.developer.pagerduty.com/v2/docs/authentication

Maybe create responser request, to approve workflow. ( need to explore more ) https://api-reference.pagerduty.com/#!/Incidents/post_incidents_id_responder_requests

[2020-03-05 02:49] xnutsive commented on #1
I'm looking through all the issues today and keeping this open for now. @fspmarshall, any updates to the audit log on the teleport side?

[2020-03-05 02:50] xnutsive commented on #22
Closing this, since if any changes will be necessary for the end-users apps, we'll just describe them in the docs. Referring to the docs issue: #7.

[2020-03-05 02:50] #22 closed

[2020-03-05 02:53] xnutsive commented on #29
Since this hasn't happened in any of our testing recently, I'll close the issue in this repo. I think it makes sense to provide a way for `tsh` to inquire about a request / role status though. I can create and document an issue in Teleport if you'd like me to — please let me know @fspmarshall, @benarent.

[2020-03-05 02:53] #29 closed

[2020-03-05 02:54] xnutsive commented on #49
I'll keep this open for a few more weeks — I think there's potential in this, and maybe once we gain more experience with Jira Server, we'd be able to automate parts of it's setup, too. Jira Server setup is 10x more complex and extensive than Cloud, and if we could do it automatically and guarantee it's integrity, that would be _very good_.

[2020-03-05 02:55] xnutsive commented on #51
Closing for now.

[2020-03-05 02:55] #51 closed

[2020-03-05 02:59] xnutsive commented on #58
@marshall-lee, so, the plugin won't work with Jira Server out of the box. At least one thing we'll need to do is to add basic authentication support to the bot, and add settings to the toml file. I'll file an issue in a sec.

Good news is that otherwise, the API endpoints we're using are there for the Server API v2, so everything else should work once we just do the authentication part. Here's the

[2020-03-05 03:05] xnutsive opened #63 "Jira Server basic auth support"
Add support for basic authentication with Jira Server, since it doesn't recognize API token auth.

For this to work:

### Add user and password to the config file

In `teleport-jirabot.toml [jira]` section, add `password` setting. The password setting can be provided along with the API token setting, the next section describes which one of them should be used.

### Bot logic: choosing auth strateg

[2020-03-05 03:05] xnutsive commented on #58
#63

[2020-03-06 00:29] marshall-lee commented on #63
For jira cloud we use basic auth too — the token is used instead of password. I don't get what's different for jira server.

[2020-03-06 03:19] benarent opened #64 "Provide a better error message if the GRPC client has expired."
**Problem**
When an bot has an old certificate it throws a `ERRO   Terminating... error:unknown method Ping for service proto.AuthService utils/bail.go:12` error message. We should be able to know that the GRPC cert has expired and provide a better message to the user.

[code]

**Checking my Cert**

When checking my cert via ` openssl x509 -in /var/lib/teleport/plugin/plug.crt -text -noout`  I fou

[2020-03-06 04:07] #64 closed

[2020-03-10 01:05] aelkugia opened #66 "Extend Workflows API to include integration for Mattermost"
Currently integrations are being worked on for Jira and Slack to provide approval workflows.

Submitting ticket from some customer feedback on looking for an integration for Mattermost.

[2020-03-11 15:19] benarent commented on #1
Are we waiting on https://github.com/gravitational/teleport/issues/3204 @xnutsive ?

[2020-03-11 18:08] fspmarshall commented on #1
@xnutsive @benarent, yeah I haven't gotten around to updating the audit log.  Been dealing with some teleport bug fixes which were higher priority (esp. since slackbot does log user locally).  I *should* have time to circle back to https://github.com/gravitational/teleport/issues/3204 later this week or early next week.

[2020-03-11 18:17] marshall-lee commented on #62
I did some research of the platform. The basic flow would be like this:

- Create a separate pagerduty service for access request incidents.
- When access request has been created in Teleport, create an incident in Pagerduty service as well. There's an rest api method for this: https://api-reference.pagerduty.com/#!/Incidents/post_incidents
- Looking at the incident, user is able to approve/reject

[2020-03-11 19:28] fspmarshall commented on #62
@marshall-lee I'm not super familiar with pagerduty or its API, but it appears that `incident_key` is able to be an arbitrary string, and will be passed on as part of the payload generated by "custom incident actions".  I *think* you should be able to use the request ID as the `incident_key`, making it easy to load the correct data.

[2020-03-11 22:45] marshall-lee commented on #62
@fspmarshall oops i overlooked it, perhaps it's a way to go!

[2020-03-12 15:48] marshall-lee commented on #66
Mattermost has a great official Go client library, it'd be fun to integrate with.

Sample go bot: https://github.com/mattermost/mattermost-bot-sample-golang. Today I got it up & running locally with slight modifications (the example uses user&password authentication but i created a _bot account_ with authentication via token).

Workflow would be pretty much the same as in Slack. For instance, Matt

[2020-04-02 21:17] xnutsive commented on #63
I'm not sure about renaming the config option yet, want to hear from clients first. If the current config setup doesn't confuse anyone — than it doesn't require any changes. I'll close this issue though, since Jira Server authentication actually works fine now.

[2020-04-02 21:17] #63 closed

[2020-04-02 21:19] xnutsive commented on #58
We've tested Jira server workflows and combined our findings into [INSTALL-JIRA-SERVER.md](https://github.com/gravitational/teleport-plugins/blob/master/access/jirabot/INSTALL-JIRA-SERVER.md)

[2020-04-02 21:19] #58 closed

[2020-04-02 22:33] xnutsive opened #69 "Mattermost Bot config checks at startup"
I've been testing mattermost bot, will commit the docs in a few minutes! A few things I've noticed along the way:

- [ ] Mattermostbot doesn't log “starting a request watcher” or "checking teleport auth version" — all the other plugins do. Bug?
- [x] There's no config check at startup. Specifically, the bot will start and not error out even if the config doesn't have `mattermost:url`, `webhook:bas

[2020-04-03 01:35] xnutsive opened #70 "Add Gitlab Issues integration"
### Goal

Add a Gitlab integration that would work similarly to Jira Cloud flow. The user has a board, new requests pop up as issues on the board, and users can easily approve/deny them by dragging them to another column.

### Research

* Gitlab doesn’t seem to have “workflows” like Jira had. They have Boards, but those boards have columns (lists) that are based on 1) status: open or closed, 2) as

[2020-04-03 01:54] xnutsive commented on #62
- [ ] The text notification (sms) for the created incident says **Access request from %USERNAME%** — let's clarify and do **%username% requested %roles% on Teleport.**

[2020-04-03 18:06] marshall-lee commented on #69
I changed a severity of these log messages in all the plugins, so you can only see them with `-d` option. In fact, they're just debug messages and should not be logged in normal scenario.

[2020-04-03 19:31] #62 closed

[2020-04-03 23:19] xnutsive opened #71 "Pagerduty: improve incident title and details"
In Pagerduty integration, incident title and text need some work.

**Incident title / text notification**
The text notification (sms) for the created incident says `Access request from %USERNAME%`.

Let's clarify it and do `%username% requested %roles% on Teleport` instead.

**Incident Details**
They're missing, right now it says `TODO ebc197dd-24bc-4bc8-9002-a6c95956024f` — I assume the hex strin

[2020-04-04 00:10] xnutsive opened #72 "Pagerduty discussion: should we do the auto-approve flow?"
As of right now, Pagerduty integration allows to manually approve or deny Teleport permission requests.

@Ben proposed implementing an auto-approve flow for situations when an on-call engineer requests the permission themselves. This behavior would be opt-in on a config level.

**Here's how the flow should work**

- A user runs `tsh login --request-roles %roles%`
- Teleport broadcasts the request

[2020-04-04 01:02] xnutsive commented on #61
In terms of APIs:

- Microsoft Teams supports [**Connectors**](https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/what-are-webhooks-and-connectors) that essentially are bots who sit in a channel, and post a message when they receive an HTTP request. Creating a Connector means creating a special http endpoint that we'll then send JSON messages to. Similar to Slack bots

[2020-04-06 12:51] #66 closed

[2020-04-08 15:55] marshall-lee commented on #71
I won't include role list in the incident title, it's redundant since incident details will include it anyway, and also full role list could be cumbersome.

[2020-04-08 16:00] #69 closed

[2020-04-08 16:00] #71 closed

[2020-04-28 01:25] xnutsive commented on #70
@benarent, @marshall-lee, I've just finally got to testing the plugin! Everything worked from the first try, and was very easy to setup. Vlad, thank you for working on this, and for the instructions. The plugin even sets up the webhooks and labels automatically 👏

I tried merging `master` into this branch to have all the updates, but couldn't do that easily — @marshall-lee updated `utils.HTTP` and

[2020-04-28 01:26] xnutsive commented on #70
To me: LGTM as soon as @marshall-lee and @fspmarshall are happy with the way plugin data storage works.

[2020-05-15 16:07] benarent opened #79 "TOML Variable name consistency and incorrect values in configure."
While testing all of the plugins, I noticed that the configure output differs from the requirements. e.g. `teleport-pagerduty configure` outputs `listen` when it requires `host`.

We also need to keep naming conversions the same as Teleport.

`auth-server`  ->  `auth_servers`
`client-key`  -> `client_key`
`client-crt` -> `client_crt`
`root-cas` -> `root_cas`
`https-key-file` -> `https_key_file`
`h

[2020-05-19 04:25] benarent commented on #7
Closing as moving this to Teleport Docs Repo https://github.com/gravitational/teleport/pull/3699

[2020-05-19 04:25] #7 closed

[2020-05-19 04:26] benarent commented on #48
Closing as I've migrated this to https://github.com/gravitational/teleport/pull/3699

[2020-05-19 04:26] #48 closed

[2020-05-19 04:34] benarent commented on #1
Just looping back on this request, I checked a pretty recently built master that should be #3204 in it and recently built from master for plugins.

Can you loop back and check the user identity should be supplied to the Auth Server when setting request state.

[code]

[2020-05-19 04:38] benarent opened #80 "Create a teleport-plugins specific testplan.md"
Create a manual test plan for Teleport Plugins that covers all versions. https://github.com/gravitational/teleport/blob/master/docs/testplan.md

[2020-05-19 04:44] benarent opened #81 "Containerised builds for testing"
Follow https://github.com/gravitational/teleport/tree/master/docker#docker as an example to help with development and testing.

[2020-05-19 04:47] benarent opened #82 "Review integration and functional tests for plugins."
To support long term maintainability of the Teleport plugins we need to have as much test help as possible.

- [ ] Review Integration tests
- [ ] Provide options for functional tests.

Nate:
- [ ] Add race condition detection to tests.

[2020-05-19 21:19] #80 closed

[2020-05-21 21:52] benarent opened #87 "Teleport PagerDuty plugin hangs if PD user 'resolves' ticket without action."
While testings I was able to resolve a ticket, but since I didn't perform any action the incident is still open.

[code]

![image](https://user-images.githubusercontent.com/559288/82609985-759caa80-9b72-11ea-9d40-0d541d7828ed.png)

If the issue is Resolved in the PD UI, it should tell the end user that their request has been denied.

[2020-05-25 16:12] #70 closed

[2020-05-27 01:26] benarent opened #90 "Issues with Teleport Configure"
Issue 1:  I can't ```sudo teleport-slack configure > /etc/teleport-slack.toml
-bash: /etc/teleport-slack.toml: Permission denied``` <- If it's not possible to with sudo we shouldn't recommend this method to our users.

Issue 2: The CLI outputs **slack configure** should be `teleport-slack configure`

[code]

[2020-05-27 01:28] benarent opened #91 "Teleport Access Slackbot 0.1.0-alpha.1:teleport-jira-v0.1.0-alpha.1-0-gebfacdf"
The `teleport-slack`  has jira version in INFO when running latest binary.

[code]

[2020-05-27 15:48] benarent commented on #79
Also, default should be the same as Teleport webproxy.

# https_key_file = "/var/lib/teleport/webproxy_key.pem"  # TLS private key
# https_cert_file = "/var/lib/teleport/webproxy_cert.pem" # TLS certificate

[2020-05-27 19:42] benarent opened #93 "We should be able to run these plugins without needing to be root for security"
It looks like we require plugins to run as root as it has to read the auth.crt, we should run these plugins without requiring root.

[code]

[2020-05-27 22:30] webvictim opened #94 "mattermost configure does not output all necessary config values"
I ran:

[code]

This was the output file:
[code]

When I tried to start, I got this error:
[code]

I added `team` to the `[mattermost]` section and tried again:
[code]

I added `url` to the `[mattermost]` section and tried again:

[code]

After adding this value, I was able to start.

`teleport-mattermost configure` should output a proper reference configuration file with all necessary values set.

[2020-05-27 22:50] webvictim commented on #91
This is also the case for `mattermost` and `pagerduty`. I fixed `mattermost`, but `pagerduty` and `slack` don't work yet.

This is a byproduct of the fact that we used to only cut one release from a given branch. Now we're cutting more than one, our previous strategy for getting version information (`git describe --dirty --long --tags`) won't work for multiple tags.

Needs some thought.

[2020-05-28 15:11] benarent commented on #94
I ran into the same issues, thanks for creating the issue

[2020-05-28 20:12] #91 closed

[2020-05-28 20:39] webvictim commented on #91
Fixed in `v0.1.0-alpha.2`

[2020-06-02 16:29] #79 closed

[2020-06-02 16:32] marshall-lee commented on #93
@benarent

Plugins will run without `sudo` with proper `chmod`/`chown` on `/var/lib/teleport/plugins/mattermost/` directory.
Also the path itself can be configured to something `/home/user/teleport-mattermost` if the user wishes so.

[2020-06-02 17:22] #94 closed

[2020-06-05 01:18] fspmarshall opened #102 "`WaitForReady` should be configurable."
The `WaitForReady` option is always set to `true` for the GRPC client in `access/access.go`.  This ends up suppressing a lot of useful errors, making debug difficult.  We should make it configurable, and possibly off by default, in order to support an easier debug workflow.

[2020-06-05 17:11] marshall-lee commented on #87
@benarent

So you think we should deny teleport access requests when resolving the incident?

I thought we shouldn't do anything with the request if the user didn't choose any of the deny/approve actions. What if user wants neither to aprove nor to deny the request but just resolve the incident? It's the "third" option that I think should be available to the user.

[2020-06-10 03:49] xnutsive commented on #93
+1. As long as we store data in `/var/lib/teleport/plugins/*` — we'll some privileged access. It makes sense to use / advise to use different users from users running Teleport itself, to isolate Teleport data in a single host environment.

[2020-06-10 03:50] xnutsive commented on #90
Or rather — I'll research what's the right `sudo`syntax for this command, I had the same issue before.

[2020-06-10 04:30] xnutsive commented on #90
@webvictim @fspmarshall excuse me for committing this straight to master, fixed the install script command hint to be `teleport-slack configure > ...`

@benarent sudo fails, because by default sudo applies only to the first command in the line, whereas everything after > is technically the second command, hence some magic needed (`sudo sh -c`).

re: should we recommend the command, we have options

[2020-06-10 04:39] xnutsive commented on #81
Drafting my plan on this.

1. Create a `docker` directory in the repo root for this, with a `readme.md` and a `Makefile`in there.

2. Document that this builds on Teleport's containerised builds, and use that as the foundation. Assume we have the Teleport's docker test clusters.

3. In Makefile, provide a generic `up` and `down` that start a teleport cluster that is similar, but separate from Tele

[2020-06-18 20:59] xnutsive commented on #93
Self-assigned to keep track of this. @benarent, please let me know if you think this needs product changes, or more of docs changes to reflect how to run without root privileges?

[2020-06-18 21:00] #49 closed

[2020-06-20 01:13] benarent opened #108 "ERRO Terminating due to error error:open client.pem: no such file or directory utils/bail.go:12 [ Teleport Jira ]"
I've been trying to test Jira Server now I'm back but I'm running into this issue

[code]

I know my cert / pem / crt as I'm using the same for Mattermost.

[2020-06-20 04:31] xnutsive commented on #108
Can you please paste the teleport-jira config, and ls in the current directory, path to dir with certificates? I'll look into it.

[2020-06-20 18:19] benarent commented on #108
I've tried a bunch of different ports, it seems different than mattermost / slack. I thought it could be due to having TLS not correctly setup on Jira but that's fixed now.

[code]

[2020-06-20 20:11] webvictim commented on #108
Your path is `/auth.crt` (as in, placed straight in the root directory) - is that correct?

[2020-06-20 22:09] benarent commented on #108
I don't think that's the issue, I've tried it with Teleports same config for mattermost.

[code]

and I still run into the same issue.

[2020-06-21 00:17] benarent commented on #108
I solved this, it was related to the move to using underscores vs dashes as standard. I had an old config / docs is out of date. Fixing this now

[2020-06-21 00:17] #108 closed

[2020-06-25 17:08] benarent opened #110 "Release 0.1.0"
As I've almost completed testing and docs, it seems like a good time to make a release without alpah/beta flag.

[2020-06-29 20:24] benarent commented on #72
We've had some more feedback for this plugin, I've attached the reply to the specific questions here.

1. I think the best options would be map PD schedule IDs to Teleport roles. For example, I'm oncall in PD schedule called Teleport(ID XXXXXX) . I'm requesting Teleport-admin role and I can get it if I'm oncall in schedule XXXXX.
But if I'm oncall in schedule Email-Service(ID YYYYYY) and I'm tryin

[2020-07-01 18:16] marshall-lee commented on #72
@benarent As for **2.** I cannot find that it's possible to fetch Okta trait using PagerDuty API. Also I think that pagerduty plugin must be generic enough so it should work well even when no SSO provider is used at all.

So I still prefer to stick with a previous idea of mapping `pagerduty_user_id <-> teleport_user`.

cc @xnutsive

[2020-07-01 23:36] benarent commented on #72
I was thinking we get it passed from Teleport as part of the access request? Have you tried setting up Okta -> Making the request?  '{{external.pd_user_id}}'

You don't even need the traits, if Okta is setup it'll always use email.

[code]

[2020-07-02 01:19] xnutsive commented on #102
@marshall-lee, would you have enough time until next week to also take on this one?

[2020-07-02 01:20] xnutsive commented on #82
@marshall-lee, I know you refactored quite a few things before your time off — is this one addressed, or is there anything else you'd add to the tests we currently have?

[2020-07-02 01:23] xnutsive commented on #72
Sounds like we'll need a test stand with Teleport and Okta setup, along with an Okta developer account, to see how / if it works. @benarent, I think you mentioned you have one?

[2020-07-07 20:03] webvictim commented on #110
Done.

https://get.gravitational.com/teleport-access-jira-v0.1.0-linux-amd64-bin.tar.gz
https://get.gravitational.com/teleport-access-mattermost-v0.1.0-linux-amd64-bin.tar.gz
https://get.gravitational.com/teleport-access-pagerduty-v0.1.0-linux-amd64-bin.tar.gz
https://get.gravitational.com/teleport-access-slack-v0.1.0-linux-amd64-bin.tar.gz
https://get.gravitational.com/teleport-access-gitlab-v0.1

[2020-07-07 20:03] #110 closed

[2020-07-13 18:59] benarent commented on #72
I think I looped back in Slack, but it's possible to signup via https://developer.okta.com/

[2020-07-14 23:28] xnutsive opened #111 "Plugins fail to save a self-generated TLS certificate if their workdir doesn't exist"
If the slack plugin, for example, works with `/var/lib/teleport/plugins/slack`, but for some reason the directory is not there, the plugin won't start without valid certs, or `--insecure-no-tls`.

Here's the start log:

[code]

An easy fix is to create the dir `/var/lib/teleport/plugins/slack` in my case. But in general, I think it would be a better practice to create those dirs if they're missing

[2020-07-17 11:32] #1 closed

[2020-07-22 17:48] benarent commented on #72
@marshall-lee @xnutsive Have we made any progress on this workflow? Any open questions?

If needed I can create the accounts needed.

[2020-07-29 04:33] benarent opened #113 "Teleport Plugins should support 'version'"
[code]

also if a commend isn't found it should be more graceful.

e.g.

[code]

[2020-07-29 16:12] benarent opened #114 "Can't approve someone who is not on the schedule"
In this setup, I've created a user who's no rotation. I'm able to create a new incident but not approve it via PD. I would expect that the webhooks have been setup correct as the auto-approve worked.

[code]

![Screen Recording 2020-07-29 at 08 49 17 AM](https://user-images.githubusercontent.com/559288/88824671-81f94100-d17b-11ea-9f73-ee4cf0151ec2.gif)

[2020-07-29 16:15] benarent opened #115 "Failed to process pending request error, but creates Ticket"
In this case, a user who's *NOT* in PD creates an access request. The auto-approve pancis, for these we should let the team approve / deny manually.

[code]

[2020-07-29 17:43] marshall-lee commented on #115
@benarent thanks for finding it! i replaced this error with just debug log message. it won't be shown at all if running without `-d` option.

[2020-07-29 17:43] #115 closed

[2020-07-29 17:44] benarent commented on #115
but can that user in 'Bob' who's on the schedule still get manually approved?

[2020-07-29 17:50] marshall-lee commented on #114
@benarent

I believe it's due to misconfiguration of the plugin. Is `public_addr` setting correct? It's seems that plugin didn't receive the action an all, the most possible reason is that pagerduty sends its action to a wrong addr.

Tested your case on my cluster and everything works fine.

[2020-08-09 04:18] xnutsive commented on #90
@benarent should we close this? ;)

[2020-08-10 15:22] benarent commented on #90
yes, we can close this.

[2020-08-10 15:22] #90 closed

[2020-08-12 18:28] benarent opened #120 "Teleport Plugins 0.1.0 Webhook doesn't seem to be working."
I have been testing with 0.1.0 and I'm having issues with the new webhook setup.

[code]
## PD Setup
It looks like the extensions might be incorrectly setup?
![image](https://user-images.githubusercontent.com/559288/90052497-112f4a00-dc8e-11ea-97f2-45e0ccccf04a.png)

https://dev-teleport-test.pagerduty.com/service-directory/P4IC1VD/undefined?addonId=PZ5RU2P
![image](https://user-images.githubuserc

[2020-08-13 00:06] aelkugia opened #121 "Teleport Slack Plugin as notification system only"
Customer request came in looking for feasibility to only pass a notification via Slack channel when a request comes in and have it only state `pending request`. They still want to have the approve/deny happen via tctl.

Use case:

Their Slack is managed by their IT so their IT has access to any channel, so basically anyone from IT can request admin role and then go to the Slack channel and approve

[2020-08-13 04:51] #113 closed

[2020-08-13 17:43] #72 closed

[2020-08-13 20:27] benarent opened #123 "Teleport starts with self signed cert"
![image](https://user-images.githubusercontent.com/559288/90183628-aef74780-dd68-11ea-9548-11e854bd09eb.png)

[code]

[2020-08-13 20:43] benarent commented on #123
@xnutsive @marshall-lee Something seems up with the webhook setup, I wonder if it's just related to TLS setup.

[2020-08-13 20:51] xnutsive commented on #123
Can you please share the config you're using for Teleport, and for the plugin itself?

[2020-08-14 00:15] benarent commented on #123
[code]

[code]

[2020-08-14 00:16] benarent commented on #123
I've tried with both secure / insecure and both don't seem to be working.

[2020-08-14 03:07] xnutsive commented on #121
@benarent asked me about this a week ago — my bad for not filing the issue then.

With 0.2.0 teleport-slack will log the identity of the user who approved/denied a request to the Teleport's audit log. Howerver, I think the use case and security concerns are valid, and we can address them.

One way is to add a config option `allow_approvals_on_slack = True`, and if that's switched to false, then th

[2020-08-14 04:10] xnutsive commented on #120
I'll run more tests tomorrow — @marshall-lee, please check this too and report back in the ticket.

First glance, I suspect that `public_addr` doesn't contain the port number, and that might be an issue. I'm a bit confused by `public_addr` and `listen_addr`, but from what I gather, they work as follows:

- `public_addr` is just a string that will be passed to the service (Pagerduty, in this case)

[2020-08-14 04:16] xnutsive commented on #123
Thanks for the config!

I assume that the server where you run the plugin has hostname `teleport-ent-4-3.practice.io`. If that's the case, than in your screenshot in the initial issue description, you navigate to `teleport-ent-4-3.practice.io:8882` in your browser, which resolves to the webhook listener of the `teleport-pagerduty`, which also has the tls authentication enabled.

So it seems like i

[2020-08-14 04:17] xnutsive commented on #114
Also might be related: #120, #123.

[2020-08-14 04:21] xnutsive commented on #87
@marshall-lee reviewing this now.

For the user who receives the request, they might want to do nothing and ignore the request, that's valid. But for the user who _requested access_, that would mean that their request is _not approved_.\

@benarent, if the associated incident is closed (without declining explicitly) in PD, someone else could still approve this request in tctl, right? Are you sure

[2020-08-14 04:22] xnutsive commented on #82
@marshall-lee @webvictim do you guys want to chat more about integration tests, or are you happy with them for now and we should close this?

[2020-08-14 04:25] xnutsive commented on #81
Update on this: since there are multiple recent tickets re: Pagerduty plugins, I'll continue working on this.

To get this merged in and ready for internal usage, I want to do a few things:

1. Make sure that the flow actually works if a user just pastes commands from the README one by one into their terminal, assuming they have docker and Make installed locally.

2. Add Pagerduty to the flow. Eas

[2020-08-14 15:15] marshall-lee commented on #120
[code]

Your plugin listens on 8883 but receives webhooks on 443 (you specified "https://" `public_addr` without a port). So either you route 443 -> 8883 with some reverse proxy, or change your `public_addr` to `https://teleport-ent-4-3.practice.io:8883`. Perhaps this will help:

[code]

[2020-08-14 15:44] marshall-lee commented on #123
@xnutsive

No it's not true, there's only one certificate/key pair for webhook endpoint, just like in other plugins.

`verify_client_cert = true` doesn't require any additional certificates *in the plugin*, this option just checks a pagerduty certificate used to invoke a webhook. This is done by verifying the `Subject` field of client certificate (client here is pagerduty itself).

[2020-08-14 15:50] marshall-lee commented on #123
`/var/lib/teleport/webproxy_cert.pem` seems to be self-signed and I think it's the problem.

Provide a real certificate signed by CA for webhooks to work. PagerDuty refuses to send webhooks to such tls endpoints with self-signed certs cause it's insecure.

It's crucial because if you use self-signed cert for your teleport webproxy, you could just ignore the warning when accessing it in the browser

[2020-08-14 15:55] marshall-lee commented on #123
As for `--insecure-no-tls` option, it's only useful locally for development and it's also useful if your plugin sits behind the reverse proxy doing the TLS termination itself.

[2020-08-14 16:10] marshall-lee commented on #121
Hi @aelkugia !

Did you try private channels? According to https://twitter.com/SlackHQ/status/872506889065680896 private channels are not visible even to the owners.

[2020-08-17 15:58] benarent commented on #123
I figured it out,

I needed to add the port to public_addr and this works. I'm going to send in a PR to make the configure instructions clearer .

[code]

[2020-08-19 03:17] benarent commented on #123
It's odd, I tested this again https://teleport-ent-4-3.practice.io:8085/ and this webhook works, but still has the strange TLS error from the web. It's a minor issue,  I'm going to make the other configs more explicit.

[2020-08-19 05:15] #111 closed

[2020-08-19 18:39] xnutsive commented on #82
Just had a chat with @marshall-lee — turns out we're still working on race condition detection, will push updates later this week, starting with the pagerduty plugin.

So, still working on this one.

[2020-08-19 19:36] aelkugia commented on #121
@marshall-lee I wasn't aware that private channels are not visible to the owners. Thanks for pointing that out.

[2020-08-19 20:37] xnutsive commented on #121
I'll reply here since we started the discussion here, instead of the PR (#126). Let's figure out if we actually need this mode, and talk about it's motivation, and keep the pull request discussion to be specifically about code quality and security of the changes I proposed.

@marshall-lee, I see your point: if the client wanted to only allow certain people _see_ access request notifications on Sla

[2020-08-20 01:46] aelkugia commented on #121
@xnutsive based on conversations I've had with customers - the first situation is what has been discussed. They would like a Slack channel for notifications, but no one would be able to approve via Slack.

[2020-08-20 01:51] webvictim commented on #121
One potential other workaround that @fspmarshall suggested for the “post-to-slack-but-don’t-allow-approval” model that we’re talking about here is to give the teleport-plugins Teleport user/role (that’s created for plugin integration) read permissions, but not write permissions. That way no approval could be sent, even if someone managed to craft the correct webhook/callback.

[2020-08-20 02:00] fspmarshall commented on #121
More specifically, omit the `update` verb from the standard `['list','read','update']` list that we usually grant plugin users in all the examples.  For users who just care about security but aren't particularly worried about UX, this solution works out of the box.  It just leaves you with useless `approve`/`deny` buttons hanging around.

[2020-08-20 03:03] xnutsive commented on #121
@aelkugia, thanks for the clarification!

@webvictim @fspmarshall, I think setting up the teleport-plugin user to not have the permission to update access requests is secure, compared to just not rendering buttons, or not processing requests in the plugin itself.

I think we actually should do both:
- Tell users to setup the teleport-plugin user so that it doesn't have a permission to update reque

[2020-08-24 20:46] xnutsive commented on #102
#128 pull request made it the default behavior in the grpc client to not set WaitForReady, but all of the plugins still use it from their code.

The next step with this is to make sure the plugins stop using WaitForReady, and process any connection errors correctly.

[2020-08-25 18:22] #81 closed

[2020-08-26 18:49] xnutsive commented on #102
@marshall-lee before I can continue with this — I need your input ;) Can you point me in the right direction as to where you're relying on WaitForReady behavior so I can test this / remove it / make it configurable?

[2020-08-26 19:42] marshall-lee commented on #102
@fspmarshall wrote:

I'll re-visit this problem soon, need to figure out what's the impact it would be to disable this option completely.

As for invalid certificate problem: in plugins we mitigate it by manually checking the certificate expiration date — if it's expired we print the warning in the logs. Of course we cannot require the user of `access` package to do such checks too so we removed `

[2020-08-29 01:32] travelton opened #134 "Slack Auth/Scope missing_scope Issue"
### Summary
The Slack Bot raises a missing_scope exception when detecting a new request has been created.

[code]

## Configuration

Per the [documentation](https://gravitational.com/teleport/docs/enterprise/workflow/ssh_approval_slack/), I set up a Slack bot , "CS-Teleport-Training", within the Slack [Applications Panel](https://api.slack.com/apps/).

<img width="707" alt="Screen Shot 2020-08-28

[2020-08-29 03:55] #121 closed

[2020-08-29 04:02] xnutsive commented on #134
@travelton, thanks for the detailed report!

The scopes themselves look fine in your screenshots. First thing to check is if the bot you created is in the channel (#teleport-training-test-1 per the config you posted). The documentation has a paragraph on that, but maybe we should put more emphasis on this.

Try inviting the bot to the channel, restarting the bot, and retrying. If that still doesn'

[2020-08-31 16:05] travelton commented on #134
@xnutsive Correct, the bot is in the channel. I also used curl to send a message by hand using the web hook endpoint Slack provides.
![image](https://user-images.githubusercontent.com/241714/91741137-e3953c80-eb79-11ea-8954-a353eb7eda4d.png)

[2020-08-31 17:51] travelton commented on #134
@xnutsive We discovered that we need `chat:write` scope to resolve this issue. After adding this scope, the bot started working. We need to update docs to include this missing scope.

[2020-09-01 13:32] #102 closed

[2020-11-13 01:59] aelkugia opened #141 "New Plugin: Webex Teams"
During onboarding of a customer they shared they are interested in a plugin for Webex Teams. Doc [links](https://developer.webex.com/).

Placeholder to gauge interest. if customer finds this feel free to give a :+1:

Added customer reference label for reference.

[2020-11-20 02:50] nategadzhi opened #144 "Build is broken on Darwin with go modules"
Marking this for myself or @fspmarshall to tackle:

Build on Darwin is currently broken, but the problem is fixed in https://github.com/moby/term/pull/16.

[code]

[2020-11-23 16:32] nategadzhi opened #145 "Terraform Provider Readme and Build instructions"
Terraform Provider will be shipped with Teleport 6 soon, and it's in active development. I've restructured the single issue we've had for it into several separate independent (mostly) issues.

There's a [feature/terraform](https://github.com/gravitational/teleport-plugins/tree/feature/terraform/terraform) we use to work on the provider.

The readme there is not sufficient to get an engineer up and

[2020-11-26 02:03] nategadzhi opened #146 "Safe to remove dep & git scripts?"
We've used `scripts/dep` and `scripts/git` to make `go dep` work with submodules and workaround vendoring. Since @fspmarshall already switched the repo to go modules, it should be safe to remove those scripts questionmark?

[2020-11-26 02:45] klizhentas commented on #146
yes

[2020-12-03 21:59] klizhentas opened #148 "Extend pager duty plugin with event notifications"
## Description

Cloud users would like to trigger alerts based on Teleport events and fan out events to SIEMs.
Extend teleport PD plugin to subscribe to event notifications and trigger PD alerts based on the criteria, for example create an alert when someone opens SSH tunnel.

[2020-12-03 22:00] klizhentas opened #149 "Teleport event forwarder"
### Feature Request

Fluentd supports mTLS

https://docs.fluentd.org/configuration/transport-section

Customers should be able to:

* Generate a certificate with a purpose fluentd.
* Connect fluentd to proxy
* Receive cluster events
* Export events and **session recordings** to S3 buckets using Fluentd S3 output https://docs.fluentd.org/v/0.12/output/s3

The plugin should store local checkpoint an

[2020-12-07 16:30] natikgadzhi opened #150 "Provide a AAP JWT node.js demo application"
@marshall-lee already made an example node.js app supporting JWT auth via Teleport AAP. This issue is to track that code is reviewed and merged, and track related discussions.

- [ ] @marshall-lee, once all required Teleport core changes are merged, could you also merge your PR into this repo?
- [ ] @stevenGravy, @benarent, please review the app, and let's discuss what kind of documentation we wan

[2020-12-16 15:53] jon-can opened #153 "Show who approved an access request in Slack integration"
### Feature Request
When an access request is approved by someone in Slack there is no indication of who approved it. Add who actually approved the access request.

### Who's it for?
Enterprise

[2020-12-17 09:18] jon-can opened #154 "Include Session Recording in JIRA ticket"
### Feature Request
After an access request has been approved in JIRA and after that user has completed their SSH session, have Teleport post a link to that session recording into the JIRA ticket.

### Who's it for?
Enterprise

[2020-12-17 09:19] benarent commented on #154
This feature request could be a little tougher as approved roles could have a long TTL. So it would have to capture a timeframe of sessions.

How much was this a nice-to-have vs blocker?

[2020-12-17 11:09] benarent commented on #153
This is a great suggestion, especially as many people use the plugin in a room.

It looks like Slack supports who clicked an action, https://api.slack.com/legacy/message-buttons#message-buttons__crafting-messages-with-buttons__responding-to-message-actions and since we added something similar for PagerDuty this should be an easy addition.

[2020-12-17 17:53] jon-can commented on #154
At the moment it seems to be a nice-to-have, but we'll clarify once we start the POC in January.

[2021-01-06 02:56] natikgadzhi opened #155 "Tracking: grafana JWT support"
This is a tracking issue to have a checkbox in the milestone for Teleport Apps support.
@marshall-lee already filed the PR with Grafana here: https://github.com/grafana/grafana/pull/29995

[2021-01-06 02:58] natikgadzhi opened #156 "Tracking: kubernetes dashboard JWT support"

[2021-01-06 03:00] natikgadzhi opened #157 "Example app in Go"
We have an example app in Node and Java, let's build one in Go as well.

[2021-01-06 03:06] natikgadzhi opened #158 "Teleport Application Access JWT developer documentation"
Tracking our work on developer docs in this issue. The scope of this is to cover a set of topics and provide a bunch of .md files and screencasts. We'll publish those on the Teleport docs website. The goal of teleport apps docs pages is to onboard engineers into using JWT support in their apps and extend Teleport Application Access.

###  Context
There's already some documentation on Teleport Appl

[2021-01-11 19:28] jon-can opened #159 "Update Approval Workflow App in Atlassian Marketplace"
https://marketplace.atlassian.com/apps/1222963/teleport-approval-workflow?hosting=server&tab=overview

Update the app to support newer versions such as 8.13.x

[2021-01-11 19:35] jon-can opened #160 "Tracking: Dockerize Teleport Plugins and add them to our Helm Charts"
Publish docker images of the teleport plugins. Ideally, it would be great if they were included in the Teleport helm chart as optional via the values.yaml. The instructions for the plugins being for bare metal adds a bit of a barrier for a quickstart for containerized organization.

---
Walt's edit:

This is a goal for 2022-04.  We're tracking the following subtasks:

- [x] https://github.com/grav

[2021-01-11 20:03] jon-can opened #161 "Add support for JIRA Data Center"
JIRA server will be going away. We should add support for JIRA Data Center: https://www.atlassian.com/licensing/data-center-approved-apps

[2021-01-11 22:28] benarent commented on #159
I've updated the listing and imported it into a newer version. We should be good to go.

[2021-01-11 22:28] #159 closed

[2021-01-25 05:35] nategadzhi commented on #160
We already have dockerized plugins with a demo scenario and an excruciatingly long readme in [/docker]. Arguably, since Teleport's images are now publicly available on Quay, it would make sense to clean those images up a bit, but then we can easily dockerize them and publish them as a part of our release process.

What's the urgency on this? OK if we work on this in March?

[2021-01-25 05:55] #145 closed

[2021-01-25 05:59] nategadzhi opened #164 "Terraform Provider: Generate valid resource maps"
Terraform Provider needs resources to be defined as `schema.Resource` that does two things:
1. Describes the HCL format that the resource accepts as a description of a resource
2. Provides functions that unmarshall data from the HCL-specific data provider format into the API-friendly data, and provide CRUD functionality.
3. Optionally, provide functionality to import existing objects from the API

[2021-01-25 06:03] nategadzhi opened #165 "Terraform Provider: Unmarshall data from schema.ResourceData"
`schema.Resource` in #164 will need to unmarshall data and then send it to the API. This issue covers the unmarshalling part.

Terraform provides the HCL values parsed into a `schema.ResourceData` that is a `map[string]interface{}`. We need to write a set of helpers and generate functions that use those helpers to unmarshall data from that into Teleport structs, i.e. into`UserV2`.

Two requirement

[2021-01-25 06:06] nategadzhi opened #166 "Terraform Provider Developer / QA environment"
Provide docker-compose and makefile that would:
- Spin up a Teleport docker container
- Upsert `terraform` user in Teleport and export it's keys into a shared mounted folder
- Spin up another Docker container, install terraform + build the terraform provider in it
- Mount local dev folder (and ./examples) into the second container.

We need to have a reproducible environment to run the terraform p

[2021-01-25 06:08] nategadzhi opened #167 "Terraform Provider: Users and Roles support"
First two Teleport resources to be supported by the Teleport provider.

### Prerequisites

- Schemas #164
- Data marshalling #165
- Devbox #166

[2021-01-25 06:09] nategadzhi opened #168 "Terraform Provider: Add validations to resource maps"
Terraform supports validations: functions that take the supplied HCL value in, and check if it's valid for the data type we describe.

#### Primitive type validations
- [ ] Validate and convert DateTime strings into Timestamps

#### Teleport-specific validations

TBD

[2021-01-25 06:12] nategadzhi opened #169 "Terraform Provider: Verify optional and required resource fields"
Terraform Schemas can describe each data field in one of the following ways:
- `Required: true` if the value is required and the user have to provide it.
- `Optional: true` if the value is not required.
- `Computed: true` if the value is computed in our system automatically and the user doesn't have to provide it.

In the protoc-gen-tfschema, we look up the Protobuf field cardinality, and that res

[2021-01-25 06:14] nategadzhi opened #170 "Terraform Provider: Add computed and read-only resource fields"
Teleport data structures have some data that's computed in Teleport Auth server, and should never be set by the user.

I suspect User.ID is one of those, if we're using internal Teleport user storage.

- [ ] Get the list of types and their computed fields
- [ ] Make a way to tell schema generator that certain fields are computed and should not be set.

[2021-01-25 06:14] nategadzhi opened #171 "QA + Demo Terraform Provider against Teleport Cloud"

[2021-01-25 06:14] nategadzhi opened #172 "QA + Demo Terraform Provider against Teleport Cluster"

[2021-01-25 06:14] nategadzhi opened #173 "Add Terraform Datasources for all resource types"

[2021-01-25 16:36] jon-can commented on #160
This is a nice-to-have so March is no problem. Thank you.

[2021-01-25 19:33] stevenGravy opened #174 "Support Plugins interacting through Proxy ports"
### Description

Access Plugins depend on accessing the auth service port. In cloud or certain network environments that isn't available. The expectation is the plugins could connect through the proxy as tsh, tctl can. Same issue as cloud issue #348

#### Motivation
Enable access plugins without directly connecting to auth server and enable in cloud or network restricted envs.

##### Who's it for?

[2021-01-25 19:33] stevenGravy commented on #174
@klizhentas  ^

[2021-01-28 03:42] nategadzhi commented on #144
@marshall-lee fixed it.

[2021-01-28 03:42] #144 closed

[2021-01-28 05:41] nategadzhi commented on #166
Just implemented this in https://github.com/gravitational/teleport-plugins/tree/feature/terraform, FYI @gzigzigzeo @marshall-lee

[2021-01-28 05:41] #166 closed

[2021-02-01 05:10] nategadzhi commented on #155
@marshall-lee have implemented the feature, and added the documentation, too. Last bump 4 days ago — probably makes sense to nudge them again.

[2021-02-01 05:16] nategadzhi opened #183 "Split teleport-slack OSS and teleport-slack Enterprise versions"
The first part of upgrading Teleport Slack integration to the new Access Workflows API.

**Teleport Enterprise** will provide a web UI to work with Access Workflows. With that, we can reduce the amount of trusted services to just Teleport, and all of our integrations will work just as a notification channels, only require `requests_read` permission to function.

This issue covers splitting out tel

[2021-02-01 05:18] nategadzhi opened #184 "Add Access Workflow Notes to Slack notifications"
Improve the notifications content. This does not depend on #183 and can be shipped independently.

- [ ] Add the request note to the body of the Slack notification

Access Workflows added a way for a user to provide a note about why they need the roles they requested. We need to show that note in the notifications.

- [ ] Add response note to the body of the Slack notification

If the request was

[2021-02-01 19:49] klizhentas commented on #153
We should use access requests API for this. Whenever someone approves the request it is updated and the plugin should get  a notification.

[2021-02-01 19:50] klizhentas commented on #183
There are two versions of the slack plugin:

* OSS version will function as is, posting events to shared slack channel
* Enterprise version will DM links to people in slack channels and post notifications only to slack channel

[2021-02-01 19:51] klizhentas opened #185 "Switch to teleport/api wrappers when those are ready"
The new API client library should be ready after March release, switch all Go code to use in instead

[2021-02-02 01:57] nategadzhi commented on #134
I'll pick that up. This applies to teleport-slack 0.2.0, so should be updated in the docs for the current version, too.

[2021-02-02 01:59] nategadzhi commented on #183
@klizhentas, should we have both behaviors in the codebase and detect if Teleport Auth server is running in OSS / Enterprise mode at runtime, or should we just have two separate binaries?

[2021-02-02 02:09] nategadzhi opened #186 "Add Access Request notes support to Jira integration"
- [x] Add an access request note to the request description in Jira tickets created by teleport-jira. I've already implemented this in a branch, need to add a test and merge it.
- [ ] When the ticket is moved to Approved / Denied column, grab it's first comment as a note for the approval/denial on Teleport.

[2021-02-02 02:12] nategadzhi opened #187 "Split out Enterprise/OSS Mattermost integration"
Similar to #183, implement Mattermost enterprise (readonly, DMs) and OSS (shared channel notification + notification-only mode) integrations.

### Mattermost Enterprise

- [ ] Implement Mattermost users mapping to Teleport users mapping
- [ ] Send Mattermost DMs to corresponding users for new access requests, those DMs should contain links to Teleport Web UI
- [ ] Send Access Request notification

[2021-02-02 02:14] nategadzhi opened #188 "Add access request notes to Gitlab integration"
When teleport-gitlab creates a new gitlab issue, add the requests note to the issue body.

[2021-02-02 02:15] natikgadzhi opened #189 "Add access request notes to Pagerduty events"
When teleport-pagerduty creates a pagerduty event, add the request's note to the event description

[2021-02-02 02:28] nategadzhi opened #190 "Discussion: Jira and Gitlab workflows"
Slack, Mattermost, and Pagerduty will have Enterprise versions that only notify the platform of access requests and link back to Teleport for the user to take action.

Jira and Gitlab workflows however are currently built around users dragging and dropping access-request-issues into Approved or Denied columns. I don't know of an obvious and intuitive way to change that workflow to support readonly

[2021-02-02 04:51] nategadzhi opened #191 "Update teleport-webhooks with the new API fields"
- [ ] Add notes support for outgoing access requests and incoming approval / denials.
- [ ] Add Teleport Enterprise read only mode support (add link to Teleport Web UI request page to the webhook)
- [ ] Add tests
- [ ] Update documentation on the website

[2021-02-02 19:04] klizhentas commented on #183
I'd have one binary and change behavior based on the flag

[2021-02-02 19:21] #146 closed

[2021-02-08 16:42] klizhentas commented on #191
let's deprecate `teleport-webhooks` for now. We have a different flow ready for post 6.1

[2021-02-08 16:42] #191 closed

[2021-02-08 18:43] klizhentas opened #194 "Slack/Mattermost plugin should work with cloud"
Check/Fix if necessary and update docs

[2021-02-24 15:43] gzigzigzeo commented on #164
This is done, we may mark it as resolved. Here's the latest state of the generator: https://github.com/gzigzigzeo/protoc-gen-terraform

[2021-02-24 15:45] gzigzigzeo commented on #165
This task is done. However, some bugs might still raise during the upcoming implementation.

[2021-02-24 16:45] klizhentas commented on #164
@gzigzigzeo can you please send all the code including protoc gen code generator as PR to the plugins with Apache 2 license?

[2021-02-24 17:02] gzigzigzeo commented on #164
@klizhentas Sure, will do. I guess, after I do so, my repo must be removed, right? Don't you think that keeping code generator in separate repo under /gravitational namespace would be a good idea in case someone decides to provide some PRs related to code generator only?

[2021-02-24 17:03] klizhentas commented on #164
@gzigzigzeo sure, separate repo in gravitational is OK too, let me create one and give you access

[2021-02-26 21:01] klizhentas opened #198 "Implement a lambda function that rotates tokens and publishes to AWS SSM"
## Cloud

Cloud users are wondering how to join nodes in a reproducible way. It's easy using new golang api. Issue a longer lived token creator credentials and give them to a lambda function. This function will publish and rotate short lived join tokens for nodes, apps, etc.

[2021-03-03 21:15] klizhentas commented on #187
We should try to deliver by April 7th

https://github.com/gravitational/teleport/issues/5683

[2021-03-29 02:59] klizhentas opened #202 "How to recover from state drift?"
If someone removes a user managed by terraform state, the plugin enters error state

[code]

[2021-03-30 19:43] gzigzigzeo commented on #202
Btw, regarding your #1: deep in Terraform docs, I've found the paragraph saying that in this case graceful auto recovery must be implemented. So, resources deleted outside Terraform should be marked as deleted by Terraform. Will implement this behaviour, but it kind of relies on error codes :-)

[2021-04-02 15:30] #186 closed

[2021-04-12 15:34] #183 closed

[2021-04-12 15:34] #185 closed

[2021-04-12 15:35] klizhentas opened #207 "Move JIRA plugin to teleport/api"

[2021-04-12 18:43] benarent opened #208 "Can't download v6.1.0 plugin"
While testing the Slack plugin, I'm unable to download the file since it's throwing a 404.

[code]

I downloaded https://github.com/gravitational/teleport-plugins/releases/tag/v6.1.0 but it's the source code vs the compiled package.

[2021-04-12 18:43] benarent commented on #208
FYI @klizhentas @webvictim

[2021-04-12 20:30] webvictim commented on #208
https://github.com/gravitational/teleport-plugins/releases/tag/v6.1.0 says `To use the plugins, please build from repository.` - not sure we've published any artifacts yet.

[2021-04-12 20:32] webvictim commented on #208
At any rate, the tagging format expected by Drone to publish artifacts is `teleport-<plugin>-v<version>` currently. The Drone config/publishing process may need overhauling somewhat if we're changing the versioning scheme.

[2021-04-13 03:30] benarent commented on #208
We've instructions here, https://goteleport.com/docs/access-controls/guides/dual-authz/#setup-teleport-bot I can switch the order to focus on building from source first.

[2021-04-13 03:47] webvictim commented on #208
@klizhentas Is the idea that we should still be publishing artifacts for the plugins? I can overhaul Drone to publish the new versions if so.

[2021-04-14 13:51] gzigzigzeo commented on #202
All these seems fixed.

[2021-04-15 17:49] klizhentas opened #209 "Update Gitlab, Pagerduty and JIRA"
* [ ] Use new API
* [ ] Switch to the same UX
Prep for release of 6.2.0

[2021-04-15 17:50] klizhentas opened #210 "Remove webhook plugin"
Webhook plugin is not secure, remove it from the repo.

[2021-04-16 17:39] #187 closed

[2021-04-16 19:29] stevenGravy opened #215 "Provide installation feature in Terraform Provider"
Provide the ability to install Teleport to environments such as:

- Kubernetes clusters
- Teleport nodes
- Proxy/auth installation

After installation it should be possible to also configure the Teleport instance using the roles, OIDC, SAML,... settings so that you could  roll out a Teleport instance with its configuration.

[2021-04-16 19:36] stevenGravy opened #216 "Provide ability to install new services (ssh, kube, db, app) to a existing Teleport cluster"
Add the ability to specify adding a new service via the Terraform provider.  a terraform configuration could then designate a specific server(s) to install a service.  For example a DB service access could be added into a given ec2 instance that points to a given Aurora db.

[2021-04-19 20:39] benarent commented on #208
This has been fixed. PR for content is here https://github.com/gravitational/teleport/pull/6434

[2021-04-19 20:39] #208 closed

[2021-04-20 19:19] klizhentas opened #217 "Add support for new configuration resources"
Depends on:

https://github.com/gravitational/teleport/pull/6472

[2021-04-20 19:21] klizhentas opened #218 "Document application and database resources in Terraform"
Add support for apps and databases in Terraform.

[2021-04-21 18:46] klizhentas opened #219 "PagerDuty incident auto behavior"
## Description

Support two modes, notification and schedule

**Notification mode**

In notification mode, the system will create an incident whenever someone will request access as a privileged user.
The incident will contain a link to the teleport's access request. The plugin will not have any permissions except read permission on access requests.

**Auto-approve mode**

In this mode, pager duty

[2021-04-21 18:48] klizhentas commented on #219
@marshall-lee let's target 6.2 release (May 5th)

[2021-04-21 19:27] klizhentas commented on #149
I suggest you start with our exsting HTTPS events pagination API while you are waiting forhttps://github.com/gravitational/teleport/issues/5435 so you can familiarize yourself with details on how to write fluentd plugins

[2021-04-21 19:52] klizhentas commented on #149
It's an interesting computer science problem as well. You'd have to keep a checkpoint/iterator on the fluentd server plugin side so when it looses a connection it can start replaying events from the last checkpoint. I wonder if you'd need a checkpoint API as well. Your peer from the teleport side is @xacrimon - Joel.

[2021-04-22 18:16] klizhentas commented on #219
@marshall-lee docs on system annotations:

https://github.com/gravitational/teleport/issues/6557

Here is how I think it should work:

* Devs set team memberships in OIDC, for example `teams.devops`
* Roles should contain the `allow.request.annotations` propagating `teams.devops` to the target access requests into `teams` section
* PagerDuty should be allowed to approve requests with limiter `team

[2021-04-22 20:51] klizhentas opened #221 "Terraform applied twice returns error"
* [ ] Ran terraform example provider twice, got error:

[code]

I expected that terraform applied twice will not return an error?

[2021-04-22 21:43] klizhentas commented on #221
user error, removed local state

[2021-04-22 21:43] #221 closed

[2021-04-22 21:44] klizhentas opened #222 "Drift in times causes log spam"
# teleport_role.example will be updated in-place
  ~ resource "teleport_role" "example" {
        id      = "example"
        # (2 unchanged attributes hidden)

      ~ metadata {
          ~ expires     = "2022-10-12T07:20:50Z" -> "2022-10-12T07:20:50.52Z"
            name        = "example"
            # (3 unchanged attributes hidden)
        }

        # (1 unchanged block hidden)
    }

[2021-04-22 21:52] #210 closed

[2021-04-22 21:55] klizhentas opened #223 "TF_LOG=DEBUG intergration"
Would help us to debug a lot if our plugin logged teleport's log traces when `TF_LOG=DEBUG` was set in the terrafrom apply, otherwise debugging plugins glitches is very hard.

[2021-04-22 21:56] klizhentas opened #224 "Run terraform tests in drone on PRs"

[2021-04-22 22:36] gzigzigzeo commented on #224
Standard time parse constant: RFC3339  = “2006-01-02T15:04:05Z07:00”, but go still parses .ms/.ns (it should not). Appears on cloud only (not sure why yet). Going to introduce custom time comparison fn which will omit ns and solve the problem,

[2021-04-24 13:47] gzigzigzeo commented on #222
1. Time with microseconds part (.5) is a valid time from Terraform point of view. So, microseconds can be specified.
2. Microseconds work okay with Token. `expires = "2022-10-12T07:20:51.51Z"` does not trigger state drift.
3. It fails with users and roles, on cloud only.

My guess is that for users and roles, microseconds are omitted on Teleport side. State drift appears when Terraform reads objec

[2021-04-24 17:24] gzigzigzeo commented on #223
`api` package is isolated. It does not reference any main Teleport packages, like `tctl`, for instance. So, the problem is that there is no logging in the API, nothing to redirect. I have added some logging into provider, but looks like we need to add some to the `api` package itself too.

[2021-04-24 17:59] klizhentas commented on #223
@gzigzigzeo There is no need to add logging to the api package:

* Capture the error from the client and in debug mode use trace.DebugReport wtih TF_LOG
* Capture the logs from google's grpc logger built-into transport and configure it's logging when TF_LOG is set

[2021-04-24 18:14] gzigzigzeo commented on #223
@klizhentas Will do for grpc. Client does not produce any kind of logs. Regarding errors: you mean that I should use trace.DebugReport when TF_LOG=DEBUG instead of returning just error message, as I do now?

[2021-04-24 18:15] klizhentas commented on #223
@gzigzigzeo yes, `trace.DebugReport` will print stack trace and you will log in the plugin then. That's way with TF_LOG>=DEBUG you will get more info about the error.

[2021-04-24 19:43] gzigzigzeo commented on #223
Done

[2021-04-24 21:13] gzigzigzeo commented on #149
@klizhentas

fluentd supports TLS, while standard golang binding does not. We are going to need a PR with TLS implementation.

It's still not clear for me where to store cursor (checkpoint/iterator) value. The problem is that we need storage to save it. Simple KVS where key would be fluentd tag name, and value would be the latest cursor value.

1. We could save cursor values in fluentd. fluentd ha

[2021-04-24 21:17] gzigzigzeo commented on #149
Regarding Rust. Standard Rust bindings for fluentd (fruently, log4rs-rust) do not support TLS and retries. If we decide to go with Rust, we will have to reimplement a good half of api/client package (auth methods). This will also require supporting future changes in auth methods for both two languages. WDYT?

[2021-04-24 21:24] gzigzigzeo commented on #149
One more thing regarding this. Do we really need to have separate tool for this? Why not to add fluentd logging feature to the Teleport core?

[2021-04-24 21:31] klizhentas commented on #149
Re: iterator:

We need an API to store iterator in the database, so Teleport should provide one. Let's ask @xacrimon on what does he think about that.

Regarding Rust, I'm pretty sure there is a way for it to use TLS :) Can you point us to the bindings code and we will take a look.
The point about reimplementing API is valid, but we wanted to implement rust API for Teleport anyways. This could tak

[2021-04-24 22:04] gzigzigzeo commented on #149
@klizhentas

Sure, I am just saying that it is not supported by the fluentd binding yet :-) Actually, most of the bindings for different languages do not support TLS (

Rust bindings: https://docs.rs/log4rs/1.0.0/log4rs/ - one, https://github.com/cosmo0920/fruently - two.

Go binding: https://github.com/fluent/fluent-logger-golang (surprisingly not listed in official docs).

Yes, it could take som

[2021-04-24 22:06] gzigzigzeo commented on #149
No. My fault. fluentd has input plugins which could go and fetch logs.

[2021-04-25 07:03] xacrimon commented on #149
Since the events pagination API is a pull but fluent needs events pushed I only really see two options.

A) A service which sits inbetween Teleport and fluentd as @gzigzigzeo described.
B) A fluentd push-style log transport within Teleport.

I think we already have support for pushing events to more than one backend within Teleport using our audit log multiplexer type, otherwise it should be trivi

[2021-04-28 17:05] gzigzigzeo commented on #222
This one is fixed by introducing custom compare fn

[2021-04-28 19:00] gzigzigzeo commented on #149
It depends. S3 can replicate two buckets https://aws.amazon.com/premiumsupport/knowledge-center/s3-large-transfer-between-buckets/, it can replicate selectively based on key prefix or object tags (https://docs.aws.amazon.com/AmazonS3/latest/userguide/replication.html).

That's the easiest way. However, it depends on the security settings. Would we be able to grant access to source S3 bucket to an

[2021-04-28 19:50] klizhentas commented on #149
@gzigzigzeo we should not use S3 for this, instead we should rely on audit streamers API to import and re-export events.

[2021-04-28 20:03] gzigzigzeo commented on #149
@klizhentas Sorry, I do not get it. I am talking about session recordings which are files on S3, correct? So, the question was if we could move session recording to target S3.

[2021-04-28 20:07] klizhentas commented on #149
@gzigzigzeo the fact that the recordings are on S3 is an implementation detail for AWS. It is a different storage on Google Cloud. So instead please use the stream API that is agnostic:

https://github.com/gravitational/teleport/blob/master/lib/events/api.go#L455

It is already built and you can upload streams with checkpoints and resumes. You can't download streams yet, that part is missing and J

[2021-04-28 20:09] klizhentas commented on #149
I think we are arriving at the following design:

* Event forwarder is just another Go program that uses Go API of teleport.
* It can follow events and download streams. It will process streams and reupload to target storage, for example S3. It will download events and push to local fluentd

WYT?

[2021-04-28 20:57] gzigzigzeo commented on #149
@klizhentas Yes, I agree. Okay.

[2021-04-28 21:01] xacrimon commented on #149
@klizhentas Seems like a good solution.

[2021-05-04 22:24] inertial-frame opened #229 "Slack Access binaries"
I'm walking through the documentation and have been encountering the following issues when trying to curl and/or download the Slack Access binaries:

![Screen Shot 2021-05-04 at 5 20 54 PM](https://user-images.githubusercontent.com/82530006/117077244-5c4a2b00-acfd-11eb-8ab8-2989161486a6.png)

![Screen Shot 2021-05-04 at 5 21 27 PM](https://user-images.githubusercontent.com/82530006/117077248-5e13e

[2021-05-05 01:18] inertial-frame opened #230 "[Slack Plugin] Failed to find roles or traits in x509"
I've followed the docs and configured my Slack plugin like so:

User and role:

[code]

My `teleport-slack.toml`:
[code]

(I've swapped out the `auth_server` value from `slack.go-teleport.com:3025` to `0.0.0.0:3025` and `localhost:3025` per https://github.com/gravitational/teleport-plugins/blob/ce39bf750512e4cca043dec352f790019c2bda14/access/slack/config.go#L61 and get the same result.)

After sta

[2021-05-10 11:14] leshik opened #232 "Typo in Slack message (OSS version)"
There's a typo in the Slack bot notification text [here](https://github.com/gravitational/teleport-plugins/blob/master/access/slack/bot.go#L237) that passes an incorrect option to `tsh` (`aprove` instead of `approve`).

[2021-05-10 23:52] inertial-frame commented on #230
@marshall-lee - Assigning to you per our chat. Thanks!

[2021-05-10 23:55] inertial-frame commented on #229
Forgot to add the [raw documentation](https://github.com/gravitational/teleport/tree/branch/v6.1/docs/pages/enterprise/workflow):

[code]

In other words, we are passing in the teleport version.

[2021-05-12 20:48] benarent opened #234 "Terraform Provider - Provision Token Suggestions"
While testing out Terraform Provider for Teleport Cloud I noticed a few things.

1. It should automatically create a strong token and default the TTL.
We currently require `name`, which is the in-fact the token itself. If a user doesn't provider name or expiration, we should pull these from Teleport Defaults.

[code]
2. Rename `name` -> `token`
[code]
2. It should be easier to find the token value

[2021-05-12 20:57] benarent opened #235 "Publish Terraform Provider"
To make setup easier, we should publish our Terraform provider. https://www.terraform.io/docs/registry/providers/publishing.html

This will require use to move it to a new repo. `terraform-provider-teleport`

Other steps:
- Making a release
- Signing release.

[2021-05-12 20:59] benarent commented on #234
@klizhentas I tried the Terraform provider this morning in prep for a cloud video. I found getting node join tokens still a little rough around the edges. PTAL at the issue. Once we've published the provider https://github.com/gravitational/teleport-plugins/issues/235 I'll make a dedicated video for the provider.

[2021-05-14 15:24] pschisa opened #237 "Allow user to Choose the Issue Type with Jira Plugin"
Currently, the Jira plugin requires that the Issue Type "Task" be used for the Jira plugin integration.

Request is to expose Jira Issue Type as a configurable option on the Jira Plugin so end users can choose which Issue Type they would like the plugin to use.

[2021-05-18 15:57] inertial-frame commented on #229
Note - I've temporarily removed this install path in the upcoming 6.2 docs.

[2021-05-18 20:20] Joerger commented on #230
@inertial-frame I get the same warning message, but the slackbot still works after these messages are printed for me. Is it the same for you?

[2021-05-18 20:23] marshall-lee commented on #230
@inertial-frame it seems like everything is working fine, just try to create an access request and message must appear in the slack.

For troubleshooting, run `teleport-slack` with `-d` option to get an additional logging i.e. `teleport-slack start -d`

[2021-05-18 21:18] inertial-frame commented on #230
@Joerger and @marshall-lee - Thanks for looking into this. I've updated our docs to reflect other changes to the install sequence that were described https://github.com/gravitational/teleport-plugins/issues/229 and https://github.com/gravitational/teleport-plugins/pull/228!

I will test this again myself but have two questions (even if it's working correctly, for you):

1. I occasionally get the e

[2021-05-18 21:51] Joerger commented on #230
I ran into those 2 issues too. I used `make access-slack` from the `teleport-plugins` directory, and then ran `teleport-plugins/access/slack/build/teeleport-slack start -c plugin.toml -d`.

To answer your questions:
1. What is the error that is printed after `error:[`? And you need to give the Auth server address, which generally uses port 3025.
2. None of the default roles have access request per

[2021-05-18 22:51] marshall-lee commented on #230
As for cloud support, there's a PR for this https://github.com/gravitational/teleport-plugins/pull/213

[2021-05-19 13:25] pschisa commented on #237
An even better option would be to specify the request type name or internal identifier to make it work with any board configuration, particularly existing boards and service desks.

[2021-05-19 16:09] highb commented on #237
@pschisa I opened up #238 which from my initial testing with POSTing what the plugin should send with my changes using REST client against the Jira API seems to work as I would expect. I was able to open up a ticket with the type we expect on our project board that way. I'm hoping to build the binary and deploy it to our Teleport infra to do a real test soon.

[2021-05-20 21:27] stevenGravy opened #239 "Slack Plugin not connecting through Web port, Teleport cloud"
I configured a Slack plugin and attempted to connect through the enterprise.teleport.sh:443 connection.  The x509 certificate is thrown.

[code]
Log:
[code]

[2021-05-21 02:09] stevenGravy commented on #239
As with the Terraform provider (https://github.com/gravitational/teleport-plugins/pull/231#pullrequestreview-664958700)  using the identity file is required going through the proxy web port. The plugin will require a method of specifying a identity file besides the certificate files.

[2021-05-21 11:54] marshall-lee commented on #239
Connection to web port using TLS certificate won't work. To get it work, #213 needs to be merged.

[2021-05-24 18:44] marshall-lee commented on #134
Required slack scopes are `chat:write`, `users:read` and `users:read.email`.

https://github.com/gravitational/teleport-plugins/blob/master/access/slack/INSTALL.md#selecting-oauth-scopes

[2021-05-24 18:44] #134 closed

[2021-05-25 16:49] webvictim opened #243 "`github.com/BurntSushi/toml` is unmaintained"
https://github.com/BurntSushi/toml#this-project-is-unmaintained

We should switch to using a maintained TOML library.

[2021-05-25 18:48] benarent commented on #235
I chatted with @klizhentas about this on Monday. We wont' publish to Terrafrom, but should compile and publish the module. Terraform provides a few options for private modules https://www.terraform.io/docs/language/modules/sources.html

[2021-05-25 18:55] webvictim commented on #235
I think those docs relate to modules rather than providers - I don't think there's a way to use a provider other than:
1. compile (or extract) the binary for the provider locally to `~/.terraform.d/plugins/gravitational.com/teleport/teleport/6.2.0/linux_amd64` or similar
2. pull it from Terraform registry

What's the incentive for not publishing it to the registry?

[2021-05-26 14:47] inertial-frame commented on #230
@Joerger, my apologies - I tried the steps above again and got the same result. Here's the Error:

Slack Plugin:
[code]

Teleport:
[code]

I also more clearly articulated the steps I took here: https://github.com/gravitational/teleport/pull/7041. The specific spot where this fails is Step 4/4.

I've also updated the install step by correcting the path https://github.com/gravitational/teleport-plug

[2021-05-26 18:08] stevenGravy opened #246 "Support tokens and other secrets from files for plugins"
LIke the teleport join tokens allow for specifying files with tokens instead of just directly in the files.
Ex:
[code]
can have the token in a file `/var/lib/teleport-plugins/token.txt`
[code]

This is also helpful in case the plugin is being run in a container such as a k8s so it can be a secret.

[2021-05-26 21:32] pschisa opened #247 "Add status endpoint to Jira Plugin"
Adding an issue to track the request for a Jira status plugin that can be probed by load balancer health checks

PR #240 has already been submitted as a possible fix.

[2021-05-27 15:09] inertial-frame commented on #229
I am no longer getting the error above using `curl` - also @stevenGravy pointed out that the other articles use `wget` - and `wget` works correctly!

[code]

[2021-05-27 15:09] #229 closed

[2021-05-27 19:09] webvictim commented on #229
You can also `curl -LO...` so you don't have to provide an output filename.

[2021-05-27 21:21] inertial-frame commented on #239
I've tried this with both `443` and `3025` for non-cloud and get that same issue. Tried with:

1. `tctl auth sign --format=tls --user=access-plugin --out=auth --ttl=720h`
2. `tctl auth sign --user=access-plugin --format=file --out=access-plugin.pem`

Relevant for: https://github.com/gravitational/teleport/pull/7041 and https://github.com/gravitational/teleport/pull/7074

[2021-05-27 21:23] inertial-frame commented on #230
See also: https://github.com/gravitational/teleport-plugins/issues/239

[2021-05-28 12:51] marshall-lee commented on #239
[code]

It does matter what server name you provide when you generate certificates and what server name you provide to a plugin via configuration file.

The `auth_server` setting of plugin MUST match the `--auth-server` option you used when generating a certificate, i.e.

Config:

[code]

Generating a certificate:

[code]

The server name is embedded into a certificate file so it really matters th

[2021-06-02 16:15] inertial-frame commented on #230
<img width="683" alt="Screen Shot 2021-06-02 at 11 14 03 AM" src="https://user-images.githubusercontent.com/82530006/120515190-b1786b80-c393-11eb-857a-b2687b9dbf7d.png">

Per the comment here: https://github.com/gravitational/teleport-plugins/issues/239#issuecomment-850396653 I was able to move past this step with the following auth sign:

[code]

[2021-06-02 16:15] #230 closed

[2021-06-02 16:16] inertial-frame commented on #239
The following command was able to connect:

[code]

The message has indeed changed to: `INFO   Starting Teleport Access Slack Plugin 6.2.0: slack/app.go:72` alone without the other subsequent logging messages.

[2021-06-02 16:48] inertial-frame opened #251 "Plugin config example missing recipients field in config.go"
The Slack Plugin is working great. However, the following config example lacks a `recipients` field:

https://github.com/gravitational/teleport-plugins/blob/a89a239e053414b4a085dd66a80b9f93407276d8/access/slack/config.go#L24-L37

WIthout this field added to the config I get the following after running:

[code]

[code]

Furthermore, the example should more helpfully indicate:

1. That the recipient

[2021-06-02 16:49] inertial-frame opened #252 "Slack plugin messages spelling in Slack channel"
![Screen Shot 2021-06-02 at 11 28 22 AM](https://user-images.githubusercontent.com/82530006/120519717-8e03ef80-c398-11eb-9ac4-59ce24170818.png)

The posted example command has a typo.

[2021-06-02 20:13] marshall-lee commented on #239
Logging must be improved. Printing only "Starting Teleport Access Slack Plugin" misguides the user, there should also be something like "Slack Plugin is ready".

[2021-06-02 23:07] klizhentas opened #253 "Create a reference doc with all supported resources"
Please create a reference doc with all supported resources for terraform,
use the structure and configuration from here:

https://goteleport.com/docs/kubernetes-access/helm/reference/
https://github.com/gravitational/teleport/blob/master/docs/pages/kubernetes-access/helm/reference.mdx
https://github.com/gravitational/teleport/blob/master/docs/config.json#L47

Send a PR to teleport docs, setup sect

[2021-06-03 22:00] aelkugia commented on #198
@klizhentas do we have a timeline on this? This is a customer blocker for exploring Teleport Cloud

[2021-06-11 00:08] #232 closed

[2021-06-16 16:34] inertial-frame commented on #252
Addressed by https://github.com/gravitational/teleport-plugins/pull/257

[2021-06-16 16:34] #252 closed

[2021-06-16 17:16] inertial-frame commented on #251
Verified this for 6.2.3:

[code]

The TOML is also updated here: https://github.com/gravitational/teleport/pull/7041

[2021-06-21 15:37] klizhentas commented on #198
We are going to implement it using AWS signature algorithm

[2021-06-21 15:37] #198 closed

[2021-06-21 18:22] klizhentas opened #261 "Create auth preference resource"
The PR has been merged in master and will be backported to 6.2 this week:

https://github.com/gravitational/teleport/pull/7220

Release the resource, update the docs. For now test locally

[2021-06-21 19:59] Joerger commented on #261
@gzigzigzeo Here is the backport PR for 6.2 https://github.com/gravitational/teleport/pull/7380.

[2021-07-02 18:55] inertial-frame commented on #251
Updated this to include `suggested_reviewers` as well.

[2021-07-06 18:14] klizhentas opened #270 "Add CRD for Kubernetes"
## Description

### Phase 1

Create a controller using sigs.k8s.io/controller-runtime/pkg/controller

that creates custom resources in scope similar to Terraform plugin, using similar approach and API.

### Phase 2.

Add dynamic discovery, registration of applications and databases similar to Istio:

* [ ] Automatically discover databases and apps using annotations and register in the cluster
* [

[2021-07-06 22:27] benarent commented on #149
The FluentD provider has been published. Follow this guide for more instructions https://goteleport.com/docs/setup/guides/fluentd/

[2021-07-06 22:27] #149 closed

[2021-07-06 23:19] benarent opened #271 "Lots of writes by FluentD Plugin"
While testing the FluentD https://goteleport.com/docs/setup/guides/fluentd/ plugin, I noticed a lot of activity once I started to capture my first few events.

See this video for an example. I'm not sure if this is expected behavior of  `Skipping last known event ` isn't working.
https://share.getcloudapp.com/Z4uKp4rb

[2021-07-07 11:52] gzigzigzeo commented on #271
@benarent That's weird. I see that you have both current and next cursor values empty. I have not experienced such behaviour either locally or on cloud. Could you please provide a bit more logs in text form, from the beginning of ingestion? I need to see the moment when this transition to empty cursor happens.

[2021-07-07 15:22] jon-can commented on #160
I have someone else asking for this. Any updates on this? Thanks.

[2021-07-07 16:16] benarent commented on #271
The logs go a little crazy, this is what the loop looks like. When it's spinning and sending the same event.

[code]

[2021-07-07 16:21] gzigzigzeo commented on #271
@benarent Okay, I see the strange thing here: `INFO[0342] Event sent                                    id= ts="2021-07-07 15:51:39.078 +0000 UTC" type=session.upload`. The event having blank ID. Is it okay that ID is blank? On my side I assume that all events must have an ID.

[2021-07-07 16:23] klizhentas commented on #271
@gzigzigzeo I think it was fixed by @xacrimon in one of the releases, @benarent what version are you testing?

[2021-07-07 16:24] klizhentas commented on #271
@gzigzigzeo would be good though if plugin could detect simple loops (in memory checker?) like that to prevent from crashing the system

[2021-07-07 16:25] benarent commented on #271
I'm using Teleport Pro,  Version: 6.2.5

[2021-07-07 16:31] gzigzigzeo commented on #271
@klizhentas I should think about it. Looks like I am going to need some kind of artificial event ID (like, hash from json event representation or similar) to make this loop detector work anyway. Wouldn't it be better to skip events with blank ids for now?

[2021-07-07 17:14] benarent commented on #271
I tried on a cluster which I upgraded to 6.2.7, but I seem to be running into an error message that says. `identity file could not be decoded: open /home/ubuntu/event-handler/identity: permission denied, open : no such file or directory`

[code]

[2021-07-07 17:30] gzigzigzeo commented on #271
@benarent Hmm, could you please check identity perms or just reexport it? It seems like it's the problem with your local setup. Plugin has nothing to do with the identity file itself, it only checks the existence and passes path forward to API client.

[2021-07-22 16:24] benarent opened #273 "Terraform Provider & Teleport 7.0"
I was planning on using Terraform to complete my part of the test plan.

I'm unable to login. I've tired a few setup but I'm getting this error message.

[code]

When running in TF debug mode I see ` remote error: tls: internal error".`

[code]

[2021-07-23 01:43] Joerger commented on #273
@benarent Usually, context deadline exceeded signals that an address is unreachable or the credentials being used aren't valid. Are you connecting with an identity file?

Also, I'm not too familiar with Terraform, but I didn't have any issues running the [example](https://github.com/gravitational/teleport-plugins/tree/master/terraform#installation). What steps can I take to reproduce the issue? Al

[2021-07-24 04:01] adamgoose commented on #273
I'm seeing similar behavior, and started a thread in the #teleport Slack channel, [here](https://goteleport.slack.com/archives/CEZH6UL64/p1627098439012200). I, however, am running `quay.io/gravitational/teleport:6`.

[2021-07-24 04:18] klizhentas commented on #273
It is likely a problem with ACME setup and helm chart. It is likely that terraform (teleport' go client) sets target name teleport.localhost that confuses the ACME code:

[code]

[2021-07-24 04:22] adamgoose commented on #273
Can confirm. After exposing the auth port (3025) and pointing the Terraform Provider at it, the provider could authenticate against Teleport.

[2021-07-24 04:47] klizhentas opened #274 "Set attribute after token created"
From a user:

[code]

I would expect the resourceProvisionTokenCreate function to capture the API response and set it as an attribute on the resource.

…akin to [this](https://github.com/hashicorp/terraform-provider-aws/blob/main/aws/resource_aws_iam_user_login_profile.go#L162), from the aws_iam_user_login_profile resource.

[2021-07-24 04:48] adamgoose commented on #274
👋 I'm the "user." Great work so far on the Terraform Provider; can't wait to iron out some of this nuance!

[2021-07-26 23:00] Joerger commented on #273
Ok I reproduced this. The issue is that our helm charts don't set `tunnel_public_addr` which is used for the API client's reverse tunnel proxy addr discovery. [This PR](https://github.com/gravitational/teleport/pull/7533) should fix this, that is once its merged and the terraform provider is upgraded to the 7.0 API client.

You can also get around this by setting addr to the reverse tunnel proxy o

[2021-07-29 14:57] twakes opened #275 "Build Status Link on Readme is Broken"
The Build Status link on the Readme for `/teleport-plugins` is broken: https://drone.gravitational.io/gravitational/teleport-plugins

[2021-07-29 16:48] ciroiriarte commented on #61
Also interested in MS Teams integration, will this work for access approvals?

[2021-07-29 17:24] #275 closed

[2021-08-02 10:56] medains opened #277 "Teleport provider v6.2.7 only works in glibc environment"
### Description

**What happened**:
Teleport Terraform provider does not work in default terraform docker image (aloine).

**What you expected to happen**:
Teleport terraform provider to work in x86_64 environments, including docker images.

### Reproduction Steps
As minimally and precisely as possible, describe step-by-step how to reproduce the problem.

With a simple main.tf
[code]
1. docker run

[2021-08-05 11:14] ari-becker commented on #277
Ran into this issue as well on NixOS because the binary isn't fully statically linked.

[2021-08-05 14:35] ari-becker commented on #273
@Joerger I ran into this issue today while trying to set up the Terraform provider (while running 6.2).

In our case, we're not using the Helm chart to run our main gateway, and we do set up a separate DNS record for `tunnel.example.com` that is distinct from the Teleport install at `example.com` so that it can be served on a non-public load balancer.

I'm still trying to get the Terraform provide

[2021-08-05 16:35] ari-becker commented on #277
Including my current `shell.nix` to work around this in NixOS:

[code]

[2021-08-09 15:59] pschisa opened #279 "Restrict slack plugin recipients to specific requested roles"
The feature request is to allow for the slack plugin recipients to only receive notifications if a specific Teleport role is requested.  The matching of requested roles to recipients should be user-defined and could default to all recipients receive notifications for all requested roles unless otherwise configured.  This would allow users to restrict approval request notifications to the appropria

[2021-08-09 20:00] Joerger commented on #273
I should have ellaborated a bit more in my previous comment as there still seems to be some confusion.

I have a v6.2.7 teleport cluster on eks that I set up with the kubernetes helm chart, with acme set up. When I try to run the terraform provider with `addr=proxy.example.com`, I get the following error log:
[code]

I also get the same acme error:

[code]

This matches the first two error reports

[2021-08-09 20:01] Joerger commented on #273
@ari-becker It looks like you're getting slightly different errors:
- for proxy address: `authentication handshake failed: x509: certificate is valid for *.example.com, example.com, not teleport.cluster.local"`
- for tunnel address: `ssh: unable to authenticate, attempted methods [none publickey], no supported methods remain`

I'm pretty sure these errors occur when your credentials are expired/in

[2021-08-11 22:07] benarent opened #283 "Error: failed to delete role that still in use by a user. - Unclear message"
While destroying a TF stack, I have the above error message. It's isn't clear what the next steps are and which role is causing the issue.

[code]

[2021-08-12 20:52] benarent opened #285 "How do I add `aws_role_arns` using Terraform?"
I'm currently trying to add role using AWS Console. I've tried a few variants for `aws_role_arns`, but can't find the correct options. Is it supported / need to be added?

[code]

[2021-08-12 20:52] benarent commented on #285
@Joerger @r0mant , let me know if you have pointers for me.

[2021-08-16 14:15] stevenGravy opened #286 "V4 role in Terraform Provider"
If a V4 role is set in a Terraform configuration it always recognizes it as a change from V3 after application.

[code]

Change

[code]

[2021-08-16 14:26] stevenGravy opened #287 "Terraform Provider recognizing changes when fields were generated"
If fields are left blank in the Terraform config such as in the SAML Auth connector these are identified as modified when they were auto-generated by Teleport.  Here is an example

[code]

[2021-08-16 16:48] gzigzigzeo commented on #286
Could you please tell me, which Teleport version are you using (or Teleport Cloud, possibly)? From my perspective it looks like Terraform sends the new version to the Teleport instance, but Teleport ignores it and provides V3 back to Terraform after update, so I need to know the exact Teleport version to reproduce and/or provide a workaround.

[2021-08-16 16:53] gzigzigzeo commented on #287
Could you please provide exact config you are using to create resource along with Teleport version? Unfortunately, this behaviour is common for Terraform. I could mark such fields as Computed or I could provide workaround which drops computed defaults from a state, but I would appreciate if you send me specific config to reproduce this behaviour locally @stevenGravy

[2021-08-16 16:55] stevenGravy commented on #287
this was from a version 6.2.7 on-prem @gzigzigzeo .  I'll look at getting a repeatable example.

[2021-08-16 16:55] stevenGravy commented on #286
6.2.7 on-prem @gzigzigzeo

[2021-08-16 17:15] gzigzigzeo commented on #287
@stevenGravy Got it. I'll try to reproduce this locally and get back to you. Just to understand better, why do you need to specify version explicitly in your config?

[2021-08-16 17:17] gzigzigzeo commented on #285
@benarent It looks like provider schema is little behind actual API resource schema. I will update it and get back to you.

[2021-08-16 17:28] gzigzigzeo commented on #283
@benarent Could you please provide your user and role configuration? The error itself is generated on the Terraform side, but I think that I could enrich it with the name of the role in question. Just need little bit more details to reproduce. The next steps would be to revoke this role from a users using it before next attempt, but, unfortunately, we can't print user names here because of securit

[2021-08-16 17:29] gzigzigzeo commented on #274
@adamgoose Hey. Am I correct that you'd like to have AWS response dump captured somewhere in the Terraform state?

[2021-08-16 17:45] gzigzigzeo commented on #287
@stevenGravy One more question: you are using the latest provider version, right?

[2021-08-16 17:55] stevenGravy commented on #286
this is also happening in the latest 7.0.2 release

[2021-08-16 18:01] stevenGravy commented on #287
Yes, I've confirmed it happening in the latest and 6.2.7

[2021-08-16 18:02] stevenGravy commented on #287
For the roles issue the V4 provides more limited allow defaults which is preferred.

[2021-08-16 18:14] gzigzigzeo commented on #287
@stevenGravy Sure. So, you added version = "v4" to the config to upgrade the role, correct?

[2021-08-16 18:15] stevenGravy commented on #287
the initial creation had it.  if you run `terraform plan` it recognizes it as a change.

[2021-08-16 18:19] gzigzigzeo commented on #287
Yes, the initial creation had it as version = "v3". I just want to clarify: was it specified explicitly as version="v3" written in the config during initial creation, or was it silently assigned from the default value and appeared in the state?

[2021-08-16 18:21] stevenGravy commented on #287
it was initially assigned v4 for the creation.  it does get set as V4 in the role. but still gets the change report in terraform on a `terraform plan`

[2021-08-16 18:23] gzigzigzeo commented on #287
Okay, got it, thank you for the clarification. This issue is my primary focus right now, going to get back to you tomorrow.

[2021-08-17 17:21] gzigzigzeo commented on #286
@stevenGravy I have PR fixing this, it is supposed to be merged in the next provider release.

[2021-08-17 17:22] gzigzigzeo commented on #285
@benarent I have fixed this. PR should be merged before the next provider release.

[2021-08-18 05:32] Moulick commented on #61
Approvals in MS-Teams would be lovely

[2021-08-18 18:52] klizhentas opened #290 "Submit terraform provider to official terraform registry"

[2021-08-18 18:53] klizhentas opened #291 "Add support for loading secrets from environment"
Terraform enterprise does not support loading secrets from files, only from environment. Add support for loading secrets from environment and test with Terraform enterprise.

[2021-08-18 18:54] #164 closed

[2021-08-18 18:54] #165 closed

[2021-08-18 18:54] #167 closed

[2021-08-18 18:54] #168 closed

[2021-08-18 18:54] #169 closed

[2021-08-18 18:54] #170 closed

[2021-08-18 18:54] #171 closed

[2021-08-18 18:54] #172 closed

[2021-08-18 18:59] klizhentas opened #292 "New plugin: email"
What:

Email plugin sending notifications when new access request is created.

Support transports:

* [ ] mTLS SMTP
* [ ] Mailgun HTTPS API

Support multiple email aliases and channels

[2021-08-18 19:05] klizhentas opened #293 "Finish fluentd session export"

[2021-08-18 19:05] klizhentas commented on #290
dupe of #235

[2021-08-18 19:05] #290 closed

[2021-08-18 19:10] gzigzigzeo commented on #222
This is done & merged.

[2021-08-18 19:10] #222 closed

[2021-08-18 19:10] #223 closed

[2021-08-18 19:11] gzigzigzeo commented on #253
As far as I know, this one is done, but it might require an update once we merge my latest PRs

[2021-08-18 19:11] gzigzigzeo commented on #261
This one is ready and approved. Can be merged: https://github.com/gravitational/teleport-plugins/pull/263

[2021-08-18 19:12] gzigzigzeo commented on #271
I am still unable to vendor Teleport. The new error is: “go mod vendor: pattern build/webassets: no matching files found”, same reason, different go:embed. (https://github.com/gravitational/teleport/blob/7f0ed2676035a18bed8e67337faa8b743ecf7128/lib/web/static_embed.go#L29). This is ready in https://github.com/gravitational/teleport-plugins/pull/272, but merge is blocked by the bug.

[2021-08-18 19:13] klizhentas commented on #271
@russjones can you take a look?

[2021-08-19 03:33] russjones commented on #271
@gzigzigzeo @klizhentas Yes, I had one last issue to fix with webassets that I didn't get to. Will try and get to this later this week.

[2021-08-19 11:58] gzigzigzeo commented on #287
https://github.com/gravitational/teleport-plugins/pull/289

[2021-08-19 11:58] gzigzigzeo commented on #285
https://github.com/gravitational/teleport-plugins/pull/288

[2021-08-19 11:59] gzigzigzeo commented on #286
https://github.com/gravitational/teleport-plugins/pull/263

[2021-08-23 09:41] berdee commented on #239
Logging was improved in https://github.com/gravitational/teleport-plugins/pull/258

[2021-08-23 09:41] #239 closed

[2021-08-23 09:44] berdee commented on #153
Access reviews (available in Teleport Enterprise) are now being rendered as comments in a thread of Slack notification — done in https://github.com/gravitational/teleport-plugins/pull/258

[2021-08-23 09:44] #153 closed

[2021-08-23 09:46] berdee commented on #251
fixed in #259

[2021-08-23 09:46] #251 closed

[2021-08-23 09:49] berdee commented on #194
Done in #244

[2021-08-23 09:49] #194 closed

[2021-08-23 09:50] berdee commented on #184
done in #258

[2021-08-23 09:50] #184 closed

[2021-08-23 09:52] berdee commented on #190
Closed as stale.

[2021-08-23 09:52] #190 closed

[2021-08-23 09:54] #93 closed

[2021-08-23 09:55] berdee commented on #219
Done in #266

[2021-08-23 09:55] #219 closed

[2021-08-23 15:30] marshall-lee commented on #114
Closing as stale
Also, Pagerduty plugin doesn't have an approval through webhooks feature anymore

[2021-08-23 15:30] #114 closed

[2021-08-23 15:31] #123 closed

[2021-08-23 15:41] #253 closed

[2021-08-23 15:41] #261 closed

[2021-08-24 09:50] Moulick commented on #292
This will be super useful

[2021-08-25 15:04] stevenGravy opened #300 "Slack plugin can't connect to proxy web port"
Previously the slack plugin could connect to the web port.  Now, like the terraform provider it can only connect if the tunnel port is used.

[2021-08-25 15:37] stevenGravy commented on #273
same issue with the Plugins

[2021-08-25 20:10] benarent opened #301 "How do I create network restrictions policies using Terraform?"
After v4 is out, I need to try out creating network restrictions policies.

https://goteleport.com/docs/server-access/guides/restricted-session/#step-24-define-a-network-restrictions-policy

[2021-08-31 23:33] benarent opened #306 "Terraform keeps updating a role"
It looks like TF is trying to add required fields, but I've added them in my empty template.  Is there anything that I'm meant to change to my TF roles? This results in a lot of extra audit log spam each time I apply terraform.

[code]

[code]

[2021-09-01 20:40] Valien opened #307 "Build official Docker/OCI compliant images for plug-ins."
Right now installing and running plugins is a very manual process. Would be neat to have the ability to have our plugins on our official Quay repo and/or Docker hub.

A `docker pull teleport/slack-plugin:latest` would be nifty feature.

[2021-09-01 20:48] Aharic commented on #271
Still seeing this behavior on the latest 6.2 plugin tested, as well as 7.1. Reopening to get additional feedback. Able to repro at will.

[2021-09-06 23:42] #188 closed

[2021-09-06 23:42] #209 closed

[2021-09-07 20:15] pschisa opened #315 "Add the ability to link slack and jira plugins"
Add the ability to link Slack and Jira plugins together such that the slack plugin will provide a link to the Jira dashboard instead of the Teleport cluster to approve access requests.

[2021-09-07 20:20] pschisa commented on #315
Probably the easiest way would be to allow a static override of the Slack message link in the Slack plugin configuration, which shouldn't require any communication with Jira.

Alternatively, if Jira dynamically shared that with Slack then it could be guaranteed to work based on Jira's current settings, though this would probably require much more effort.

[2021-09-07 23:10] #207 closed

[2021-09-08 06:36] marshall-lee commented on #82
Closed as stale

[2021-09-08 06:36] #82 closed

[2021-09-08 06:37] #87 closed

[2021-09-15 07:49] tpang-ameame opened #322 "The Slack plugin can't get channel"
Hi,

When followed instruction in page: https://goteleport.com/docs/enterprise/workflow/ssh-approval-slack/, met that the plugin can read a request but can't forward to slack because of missing channel. Here are some info:

Teleport version: 6.2.8

Plugin output:
[code]

In Slack, teleport app created and already invited to channel.

Thanks.

[2021-09-15 09:41] TroyPang commented on #322
Could you please share more info about this part?
https://goteleport.com/docs/ver/6.1/enterprise/workflow/ssh-approval-slack/#editing-the-config-file
Seems screenshot here is missing some configurations?

Thanks.

[2021-09-28 14:45] r0mant commented on #218
@gzigzigzeo FYI we now have Application and Database resources in Teleport so this can now be implemented:

- [AppV3 proto spec](https://github.com/gravitational/teleport/blob/bddc54d8c489caaf42c51c647ce4f739a42c9ceb/api/types/types.proto#L375-L389)
- [App resource](https://github.com/gravitational/teleport/blob/bddc54d8c489caaf42c51c647ce4f739a42c9ceb/api/types/app.go)
- [App resource APIs](https

[2021-09-28 20:25] yjperez opened #330 "Terraform Provider - Bug when adding SAML connector"
Able to successfully create a SAML auth connector using the provider.  However, after a successful "apply" I can then immediately to a "plan" and terraform thinks it needs to modify the spec.signing_key_pair argument, specifically it wasn't to delete the cert and private_key. Another "apply" says it was successful, but another "plan" says it wants to modify the resource. And we're in an infinite l

[2021-09-29 04:59] michaelmcallister commented on #271
I can replicate this as well, and it appears to be due to the fact that `session.upload` events do not have an ID. I've created https://github.com/gravitational/teleport/issues/8413 which goes into more detail.

I believe that the event handler should probably gracefully handle events without an ID because it appears there is not necessarily a guarantee that all events will have an ID (such as [`s

[2021-09-29 09:42] ari-becker commented on #235
@klizhentas @webvictim any updates?
I see that despite being added to the `Teleport plugins 7.2` milestone that this was not completed in time for https://github.com/gravitational/teleport-plugins/releases/tag/v7.2.0
Publishing the provider to registry.terraform.io or a hypothetical `terraform-registry.goteleport.com` that obeys the [Terraform Provider Registry protocol](https://www.terraform.io/d

[2021-10-06 19:41] klizhentas opened #333 "Event forwarder glitches"
## Description

Event forwarder should not crash if it fails to post even to fluentd. It should retry a couple of times and then crash. This will make it a bit more user friendly. I like that it exits with error code, but just give it a bit more time to retry in case if fluentd daemon restarts

Reduce the amount of INFO logs to minimum. Push diagnostic info to DEBUG level.

Update official telepor

[2021-10-07 21:40] tehlers320 opened #336 "Invalid provider registry host"
Following this procedure does not work:
https://goteleport.com/docs/setup/guides/terraform-provider/

[code]

**Terraform**: 1.0.8
**Terragrunt**: v0.26.7

result in the following:

[code]

The only line referring to the url is:
[code]

[2021-10-09 03:50] stevenGravy opened #339 "Email error message in slack plugin 7.2.1"
After downloading the slack plugin and running install you get following error.  Appears to be trying to handle a email plugin instead of the slack plugin.

[code]

[2021-10-13 20:33] deusxanima opened #343 "Session and Identity Locking Conditionals"
What
Users have requested the ability to configure user and identity locks with conditionals such as "lock if there are abundant failed login attempts within a period of time" or "lock after n failed login attempts - requires unlocking by an admin". This would ideally trigger an auto-lock once the condition was met and require admin removal of the lock to disable.

Why
Customer request.

[2021-10-13 21:03] klizhentas commented on #343
@gzigzigzeo let's do a research / prototyping of this first and then refine the config and plugins capabilities

[2021-10-19 18:47] #339 closed

[2021-10-21 15:12] klizhentas opened #350 "Add EC2 join tokens to terraform provider"
Add support for new join token types in terraform provider:

https://goteleport.com/docs/setup/guides/joining-nodes-aws/

[2021-11-02 18:39] pschisa commented on #330
Should be resolved by #341 , which is waiting on review/closure of https://github.com/gravitational/protoc-gen-terraform/pull/12

[2021-11-10 10:05] dmsergeevN26 commented on #350
We also need that.

[2021-11-10 22:23] deusxanima opened #359 "Ability to separate Access Workflow plugins"
### What
Certain use cases necessitate running multiple access workflow plugins (eg., Slack and PagerDuty) in tandem. In these instances it would be good to be able to separate the plugins and control which one is notified at a given time instead of having both be notified at the same time.

### Why
Some use cases require customers to run multiple plugins for different use cases in a 24/7 support

[2021-11-10 22:38] deusxanima opened #360 "Ability to tie PagerDuty requests to specific on-call schedules for auto-approvals"
### What
Currently our PagerDuty access workflow plugin integrates with PD Services for access requests auto-approvals, which in turn can have a number of schedules attached. In instances where customers have multiple teams with different schedules tied to a single teleport service, if an individual from Team A who is on-call on Schedule A requests approval, an incident is triggered for ALL schedu

[2021-11-10 23:33] corkrean opened #361 "Enable HA for Access Request Plugins"
Currently, Teleport does not support HA for access plugins. If a user tries to run separate instances of a plugin, they will receive duplicate "notifications" for each access request.

It would be beneficial to availability and UX if a user could run two separate instances of a plugin, and only receive one notification in their notification application (e.g. Slack, Jira) for each access request.

[2021-11-11 20:49] Aharic commented on #360
Additional context (using 2 teams for simplicity - actual number of teams is in the multiple dozens in customer use case):

An organization has 2 teams in different part of the world: qa-1 and qa-2. These 2 teams share a single Teleport role b/c work scope and permissions for both teams are the same.

This Teleport role is configured as follows for PagerDuty auto-approval:

[code]

PagerDuty allow

[2021-11-11 23:20] marshall-lee commented on #360
@Aharic

Auto-approval happens only if there's at least one active incident in the one of the services listed in `pagerduty_services` annotation.

So, no active alerts — no auto-approval of access request. It's because we suppose that someone requests an access because of some alert in PD.

Also some caveat was described in the README:

When you set both `pagerduty_notify_service` and `pagerduty_s

[2021-11-12 14:37] marshall-lee commented on #361
@corkrean

Hi! Do you use a latest version?

I thought we fixed the HA issue some time ago when we brought compare-and-swap based check before posting a notification.

If the version you use is really the latest then I'll evaluate it myself and try to add some HA integration tests.

[2021-11-12 15:07] corkrean commented on #361
@marshall-lee I was using an older version. I will update my version and try again. Thanks.

[2021-11-12 15:20] marshall-lee commented on #322
@tpang-ameame

Hi!
"No channel to post" message means that you didn't set up where the plugin should post.
There're to ways the plugin picks a channel to post:

1. Set the `recipients` setting in a configuration file.
Just set it to a channel name or to a email of Slack user:
[code]
2. Fill the "Suggested reviewers" list in Web UI when you create a request. This is the list of Teleport user names

[2021-11-12 19:50] corkrean commented on #361
I attempted with the newer version and it worked. I will get this added to the docs. https://github.com/gravitational/teleport/issues/8970

[2021-11-12 19:50] #361 closed

[2021-11-16 12:13] medains opened #372 "Sensitive token values exfiltrated by ID"
Related to: #318 which was closed due to other changes made to solve the problem.

Attributes metadata.name of teleport_provision_token has been marked sensitive but is used as the id of the resource - so marking it sensitive is useless.

Minimal example:
[code]

Examining the state shows the generated password is sensitive.
[code]
And whilst the metadata.name of the token resource is sensitive, t

[2021-11-16 23:26] sover02 commented on #235
This came up today internally over here in elastic-land as well :)

[2021-11-17 15:46] corkrean opened #373 "Support for Filebeat"
We could support Filebeat similar to how we support FluentD.

[2021-11-17 17:19] Joerger opened #374 "Terraform Provider always uses tsh profile"
### Description
Regardless of the values provided, if a user has an active `tsh` profile - `~/.tsh/...`, Terraform provider will attempt to connect using that tsh profile.

### Fix
`tsh` profile credentials should only be used if either:
 1. provider specifically provided `TF_TELEPORT_PROFILE_NAME` and/or `TF_TELEPORT_PROFILE_PATH`.
 2. no other credential options were provided or they were invali

[2021-11-18 00:10] robcoward opened #375 "Terraform Provider: Invalid provider registry host"
Just like the closed issue #336 I'm now getting the same error when trying to run `terraform init`.

Using the following:
[code]
When trying to run init, I get the following:
[code]
The closed #336 issue didnt offer any solution - anyone else found / fixed this ?

[2021-11-18 00:18] klizhentas commented on #375
@gzigzigzeo can you please take a look when you have a chance?

[2021-11-18 15:53] pschisa commented on #330
#341 has been closed by #357 .  Closing this issue

[2021-11-18 15:53] #330 closed

[2021-11-18 21:44] gzigzigzeo commented on #375
@klizhentas Implemented private registry: https://github.com/gravitational/next/pull/603

[2021-11-23 16:26] ptgott opened #382 "In README.md, the link to access/README.md 404s"
access/README.md was removed in [this commit](https://github.com/gravitational/teleport-plugins/commit/69b3977cd252818bd474318c6f5332205f1207d4#diff-a0561fd649cdb6baa784055f051bad796ea0afef17fca38219549deeba4e8c1a).

[2021-11-30 22:07] pschisa opened #384 "Jira Ticket Cannot be Created if too Many Roles are Requested"
When creating an access request with multiple roles, you can reach a point where the Jira ticket will no longer be successfully created if requesting too many roles.  Based on testing it seems that this may be related to the summary limit of Jira to contain 255 characters max and the fact that Teleport puts every role requested into the summary.

Request is to have a standard ticket response(s) th

[2021-12-01 17:32] bpdohall commented on #291
Concrete example of a customer using Terraform Enterprise - https://goteleport.slack.com/archives/CEZH6UL64/p1637188987324600 - they are blocked from using the Teleport provider because a file on the Terraform agent's filesystem must be referenced by the provider config parameter `identity_file_path`.

If we were to offer an alternative which takes base64 content, the user would be able to leverag

[2021-12-01 19:44] pschisa opened #385 "Add the ability to set the assignee when Jira ticket is created automatically"
Feature request to be able to set the assignee for Jira tickets from the Jira access bot configuration

[2021-12-07 18:25] corkrean opened #388 "Dual Auth Access Requests w/ Jira"
If using dual auth access requests, Jira should create the number of tickets that equal the amount of approvals needed.

[2021-12-07 19:01] russjones commented on #388
Can you look into how it works at the moment? Are both people assigned?

[2021-12-10 12:41] marshall-lee opened #389 "Upgrade Go and Teleport versions on CI"
Hi! Can we upgrade Go version 1.17.3 for teleport-plugins? (we have both 1.16.2 and 1.16.9 in CI for some reason).
And lets bump `TELEPORT_GET_VERSION` to `8.0.0`.

Both `.cloudbuild/ci/unit-tests-linux.yaml` and `.drone.yml` needs to be updated.

[2021-12-10 13:34] pimguilherme opened #390 "Terraform provider recognizing unexpected changes"
Hi!

It looks like the terraform provider got a bit lost when we tried reapplying the same TF code right after a successful apply. It detected some unexpected changes:
![image](https://user-images.githubusercontent.com/1406885/145580531-9f964f5f-ad5e-4d6f-8b4a-8964c13b9d40.png)

This is the code example we are using:
[code]

This is the generated role:
[code]

Would you please help us understand t

[2021-12-10 14:51] pimguilherme opened #391 "Terraform deletion SAML + Roles conflict"
Hi!

We are testing the terraform provider using SAML and roles, and we cannot achieve a succesful destroy because once we delete the SAML resource and try to delete the roles, we get this error:

[code]

This is apparnetly happening because we logged in using the SAML authentication, and got assigned those roles.. but why is that still a matter once we deleted the SAML resource? It looks like the

[2021-12-15 10:01] dmsergeevN26 commented on #235
A new major version is out and the provider is still not published :(

[2021-12-16 18:28] #389 closed

[2021-12-16 19:04] pschisa opened #402 "Add ability to automatically message the requester via slack plugin"
Feature request to add an ability for the slack plugin to automatically ping a the requesting slack user via the slack plugin (especially if the Teleport user matches Slack user).  This would be helpful so that via slack the requester can track if the request has been approved and login again directly via slack

[2021-12-17 10:02] #246 closed

[2021-12-22 14:39] pimguilherme commented on #390
this seems to be resolved in version 8.0.7

[2021-12-22 14:39] #390 closed

[2021-12-28 15:18] programmerq commented on #390
It looks like this commit is likely the specific commit that fixed the issue: https://github.com/gravitational/teleport-plugins/commit/2c10ffc2636aa10737bf122d8d6e355d6630ccae#diff-94dc3ea57721d541aae09b7bf2368c1e20d4c89996ff6df4349d86048877c0e7

It tells terraform that labels are added by teleport so terraform no longer has this behavior.

[2022-01-05 14:25] SalvoRusso8 opened #405 "Event-handler does not work if proxy_listener_mode : multiplex"
I'm facing this error while trying to start the event-handler plugin.

[code]

In the output of `systemctl status teleport` I have:

[code]

Teleport is v8.0.7.
 If I set the v1 version in /etc/teleport.yaml and proxy_listener_mode: separate  it works without any problem.

 On Slack I received this answer:

[2022-01-05 15:49] programmerq opened #407 "Terraform provider resource import should import metadata"
When importing a role to the terraform state, only the very bare minimum that can be imported actually makes it to the terraform.tfstate file. This means that after import, `terraform plan` believes it needs to recreate the role because it doesn't have a reference to the role name in the state file. Recreating the role doesn't always work because teleport can refuse to delete a role if a user exis

[2022-01-10 23:36] pzduniak commented on #235
What is the reasoning? Why do we, the community, have to spend time scripting cross-platform hooks that imitate the proper process, just because someone won't pull the trigger? This project is 90% completed, someone probably already called it done - yet it's still just missing the last, critical part.

[2022-01-10 23:49] programmerq commented on #407
Additionally, when trying to import and then apply this change when terraform does the delete and recreate, I would occasionally see where terraform reports that it successfully deleted the old role, and then immediate fails to create one with the same name because it already exists. I was able to make this behavior happen slightly more frequently when I increased the latency between the teleport

[2022-01-18 20:31] pschisa commented on #292
We do have an email plugin now:
https://github.com/gravitational/teleport-plugins/tree/master/access/email

[2022-01-20 21:49] klizhentas opened #411 "Have slackbot post to a channel for a requested role"
## Description

Have slack plugin post to a channel mapped to a role requested. Instead of DMs. Folks interested in review of the roles would join channel themselves.

In this case slack plugin does not DM, but posts to a channel with a name of the requested role. If multiple roles are requested, post to all of the channels matching.

Timeline is 1-2 months max. If we can implement it faster.

[2022-01-20 23:07] programmerq opened #412 "Terraform provider does not work when proxy is in multiplex mode"
When trying to use the terraform provider 8.1.0 with a proxy that is in multiplexing mode, terraform exits with the following error:

[code]

gz#3783

[2022-01-20 23:08] programmerq commented on #412
This seems like a very similar issue to https://github.com/gravitational/teleport-plugins/issues/405

[2022-01-28 16:55] somethingnew2-0 commented on #375
For posterity, you need to manually install the terraform provider as documented in the setup guide
https://goteleport.com/docs/setup/guides/terraform-provider/#step-14-install-terraform-provider

[2022-01-28 16:58] robcoward commented on #375
That doesn't help when you don't have access to the system running terraform, such as terraform cloud.

[2022-01-28 17:42] pschisa commented on #307
+1 for getting a plugins image into our official repo

[2022-01-29 00:56] russjones commented on #411
Late March.

[2022-01-31 05:18] crashdump commented on #307
We're specifically interested in a `teleport-plugins` Docker image containing the `event-handler` binaries.

[2022-02-01 17:47] webvictim commented on #210
Any plans to add this back in?

[2022-02-03 15:08] pschisa opened #418 "General Feedback and Requests for Terraform Provider provision_token functionality"
The following is some general issues and feature requests regarding the Terraform Provider provision_token functionality:

- [ ] Add attributes to the resource
- [ ] If using the `name` value as the actual token vlaue, there's no point in marking the output as sensitive
- [ ] Include the random string generation within the resource code and eliminate `name`, or use `name` as a label instead
- [ ]

[2022-02-04 01:29] russjones commented on #411
@xinding33 @klizhentas What is the proposed syntax here?

[code]

[2022-02-04 03:01] klizhentas commented on #411
@russjones I think it should be an error to specify both at the same time, to avoid confusion.

[2022-02-04 19:05] xinding33 commented on #411
@russjones I'm probably just missing some context on the use cases we are trying to support but what purpose does `recipients` serve? Seems to me that the `[role_to_channel]` mapping, if used together with wildcard, covers all possible mapping cases.

[2022-02-05 02:26] russjones opened #422 "Add Desktop Access fields to Terraform Provider"
Add `windows_desktop_labels` and `windows_desktop_logins` that were added to `types.Role` to the Terraform Provider.

May also consider adding `record_sessions.desktop` and `desktop_clipboard` which will most likely be added soon.

[2022-02-07 19:34] Joerger opened #424 "Clean up gen-schema make target"
As of #408, `make -C terraform gen-schema` uses the go mod to provide `protoc` with expected paths for `.proto` files. Additionally, in order to provide the desired path to `wrappers.proto`, we are making a tmp directory and copying the file from the go mod cache to the tmp file.

The current solution is functional, but far from perfect. Ideally, gen-schema would be converted to use a small docker

[2022-02-08 22:04] russjones commented on #411
@xinding33 `recipients` is where all requests get sent, so it would be either `recipients` or `role_to_channel`.

Let's make that a requirement, you can only define one and the process should fail to start if you have not set at least one.

Also, `*` should always by required in `role_to_channel`.

[2022-02-11 17:13] pschisa opened #427 "New Error after upgrading to Terraform Provider 8.2.0 from 8.0.7"
After upgrading the Terraform provider from 8.0.7 to 8.2.0, the Terraform code no longer works and gives the following error:

[code]

Attaching a santized version of the Terraform provider code.  Please let me know if any further information is required

[code]

[2022-02-11 21:18] lord-kyron commented on #405
Do you plan to fix and implement support for multiplexing mode soon?

[2022-02-14 12:25] smallinsky commented on #405
Yes, the recent plugin release `8.2.0` should contain the multiplex dialer fix.

[2022-02-15 14:20] pschisa opened #428 "Add the ability to set an OIDC auth_connector version in the Terraform provider"
Add the ability to set the `version` value in an OIDC connector via the Terraform provider and document this in the example (https://github.com/gravitational/teleport-plugins/blob/master/terraform/example/oidc_connector.tf).

This is important now that version 3 has been released for the connector to allow for improved Google SSO experience: https://goteleport.com/docs/ver/9.0/enterprise/sso/googl

[2022-02-15 14:28] pschisa opened #429 "Add the `aws_role_arns` value to our Terraform provider roles"
Add the ability to set the `aws_role_arns` value in role via the Terraform provider and document this in the example (https://github.com/gravitational/teleport-plugins/blob/master/terraform/example/role.tf).

This is important for managing roles that are used for AWS console access feature: https://goteleport.com/docs/application-access/guides/aws-console/#step-4-configure-teleport-iam-role-mappin

[2022-02-15 19:56] programmerq commented on #427
I also ran into this in my own lab.

I did some experimenting to try to make it work, but I wasn't able to find a solution.

This change in #408 does change `Allow` to `allow` which may be related: https://github.com/gravitational/teleport-plugins/pull/408/files#diff-160c8d9d2e45912ae5ad2964f3846088b7d9ef45fc606eff48937c4ab7dc9dd4

[2022-02-15 22:49] programmerq commented on #412
I was able to successfully communicate with my 8.2.0 backend in multiplexing mode with the 8.1.5 terraform provider and the 8.2.0 terraform provider.

I was able to see the traffic via wireshark flowing only over the correct port and sending the correct SNI and ALPN information consistent with the multiplexing proxy mode.

[2022-02-15 22:49] #412 closed

[2022-02-16 17:11] Joerger commented on #427
This is [likely the culprit](https://github.com/gravitational/teleport-plugins/pull/415#discussion_r796641178), thanks for spotting it.  That'd be my mistake, sorry about that, I'll PR a fix.

@gzigzigzeo Can we find a way to make `gen-schema` idempotent to avoid this issue going forward?

[2022-02-16 17:13] gzigzigzeo commented on #427
@Joerger Yes, it's already done in the latest version, which I am working on now. I guess, we need to fix `types.proto` as well.

[2022-02-16 18:44] Joerger commented on #428
https://github.com/gravitational/teleport-plugins/pull/431 updates the Terraform provider to use `OIDCConnectorV3`.

I don't believe there is currently a way for the Terraform Provider to make the OIDC Connector version configurable, as the `teleport/api` package only provides one or the other. See https://github.com/gravitational/teleport-plugins/pull/263#discussion_r662515098 for a similar issue

[2022-02-16 19:20] #374 closed

[2022-02-18 17:05] pschisa commented on #428
That will resolve this issue yes, if the provider uses v3 .  Not sure if that will raise any new issues with people expecting to continue using v2 going forward (though that use case seems less likely)

[2022-02-22 18:18] #427 closed

[2022-02-22 18:18] #428 closed

[2022-02-22 18:18] #429 closed

[2022-02-23 11:57] smallinsky commented on #405
Fixed in https://github.com/gravitational/teleport-plugins/pull/406

[2022-02-23 11:57] #405 closed

[2022-02-23 19:55] Joerger commented on #322
Feel free to reopen this issue if you are still having trouble setting this up.

[2022-02-23 19:55] #322 closed

[2022-02-24 05:44] benarent opened #434 "Error: field allow not found in source struct."
I was trying to roll out Teleport 9, I upgraded to 8.3.0 TF, but ran into an issue with the `Error: field allow not found in source struct.`. I think this was added for IAM join methods, but I can't figure out how to add it to my TF script.

[code]

[code]

It looks like it was introduced with this scheme change but I've tried a few things and haven't been able to get it to work.

[2022-02-24 18:02] benarent commented on #427
+1 I ran into this issue and had to build from master

[2022-02-28 23:09] gzigzigzeo commented on #418
@pschisa Hey. Could you please clarify this requirements for me? I do not understand the reasoning behind point #2 (why marking name as sensitive is not sufficient), and #3 (include random string generation). Am I correct that you want to generate the token id randomly on create?

[2022-03-03 15:18] corkrean opened #437 "OpsGenie Integration"
Creating this issue to track interest in an OpsGenie plugin. A potential OpsGenie plugin would function similarly to the PagerDuty plugin.

## RFD

- [x] https://github.com/gravitational/teleport/pull/22221

## Phase 1: Hosted plugin (13.1)

- [x] Users can configure OpsGenie plugin in Web UI to create incidents for access requests.
- [x] OpsGenie plugin can auto-approve access requests for reques

[2022-03-03 18:22] wadells commented on #160
@marshall-lee: I'm going to be working on this with my team -- let me know if you have any advice or partial work on it you'd like to hand off.

[2022-03-03 18:32] wadells opened #438 "Publish OCI images for teleport plugins"
## Summary
This is a sub-issue of making our teleport plugins more user friendly (https://github.com/gravitational/teleport-plugins/issues/160). This ticket tracks the following dev tasks:

- [x] develop OCI images for all teleport plugins
- [x] make sure these images are validated via CI
- [x] automatically publishing images to a staging location during tag build and master push builds
  - [x] we

[2022-03-03 18:45] wadells opened #439 "Write helm charts for teleport plugins"
## Summary
This is a sub-issue of makging our teleport plugins more user friendly (https://github.com/gravitational/teleport-plugins/issues/160). This ticket tracks the following dev tasks:

 - [x] Using the images from https://github.com/gravitational/teleport-plugins/issues/438, write a helm chart for each teleport plugin that needs to be hosted
 - [x] upon promotion publish the charts to https:

[2022-03-03 22:21] zmb3 commented on #422
This was fixed by @Joerger in 250735cafb3df27b3be75e0945d5e51784f36fed

[2022-03-03 22:21] #422 closed

[2022-03-04 02:44] lkwjohn opened #442 "[Slack Plugin] context deadline exceeded posting to slack.com/api/auth.test"
I kept encountering the error when the teleport-slack try to do Slack API health check.
I tried with a POST curl command to the Slack auth.test API and gotten a successful response on the EC2 where my teleport proxy and Auth Service are installed.

**Version:**
teleport-slack v8.3.1 go1.17.5

[code]

Could it be a proxy issue that teleport-slack is not respecting it? My EC2 instance require traffi

[2022-03-04 18:48] gzigzigzeo commented on #418
Got it. I've added name auto generation in the next version of the provider. From now on, you may omit name, random string would be generated instead.

Unfortunately, I do not see a way to implement fixed values for expires attribute. Any change in any other property of a token would trigger expires time recalculation from a current time.

[2022-03-08 17:59] #411 closed

[2022-03-08 17:59] #279 closed

[2022-03-08 22:29] logand22 commented on #438
For the CI portion of this. I noticed both **drone** and **cloudbuild** being used in this repository. Should I lean towards one or the other?

[2022-03-08 23:23] wadells commented on #438
Use cloudbuild for CI.  I think we still prefer drone for publishing, as the point of this project isn't to refactor the publishing/promotion pipleline.

Ideally, we'd build the docker images before merge, such that if there was a syntax error in the dockerfiles, we'd catch it.

My general thought is:

* PR -> build image, do not publish anywhere, throw it away after completion
* Merge to `master`

[2022-03-09 17:20] zmb3 opened #447 "terraform: support Alpine Linux"
The makefile for the terraform provider explicitly sets `CGO_ENABLED=1`, which results in a build artifact that won't run on Alpine Linux containers (they lack glibc).

This prevents the use of GitLab CI with our terraform provider, as GitLab provides terraform [images based on Alpine](https://gitlab.com/gitlab-org/terraform-images).

If we don't actually require CGo in the provider, setting `CGO_

[2022-03-09 18:45] zmb3 commented on #447
This also seems to be an issue with [Atlantis](https://www.runatlantis.io/docs/deployment.html#architecture-overview), which runs Terraform on Alpine images.

[2022-03-09 19:33] programmerq opened #448 "entity_descriptor should not be required if entity_descriptor_url is set"
In teleport in the upstream, an error is only thrown if both are not present. See: https://github.com/gravitational/teleport/blob/v8.3.4/api/types/saml.go#L358-L361

In the terraform provider, if you set only `entity_descriptor_url`, but not `entity_descriptor`, you get the following error:

[code]

[2022-03-09 22:45] tcsc commented on #438
Yeah. The _eventual_ goal is GCB for everything, but we're a long, long way from there.

GCB can definitely build/push images to a docker repo, so the question becomes can we do it _safely_. Reasonably sure that it's done by mounting the docker socket into the build container (i.e. Docker-out-of-Docker), with whatever implications that has (and I don't know enough about that to comment on off the

[2022-03-15 23:01] tcsc commented on #235
A quick update on our progress.

As part of an internal supply-chain hardening effort we have decided to host our own custom Terraform Provider Registry and publish there, rather than distribute it via `registry.terraform.io`. We're currently building it out and integrating it into our release pipeline.

The horizon for this is currently in the order of weeks (as opposed to days, months, etc), and

[2022-03-16 21:08] wadells opened #453 "teleport access plugins report an unhelpful version"
## Summary
Teleport access plugins and teleport-event-handler have different version info:

[code]

`v0.2.0` and no hash is next to useless.  We should update these to be consistent.

[2022-03-16 21:09] wadells commented on #453
tsh/tctl versions for comparison (these are what we should be consistent with)

[code]

[2022-03-16 21:36] wadells commented on #453
CC @tcsc

I think it'd be nice to add a version target to the terraform plugin too, using the same format.

I don't know that many folks will use this, since the usual way to check the plugin version is:

[code]

However if we ever have a stray terraform provider binary it'd be nice tobe able to quickly ID it. I haven't found another way to do that via the built in sdk.

[2022-03-18 16:34] wadells opened #458 "Fix gitlab approval plugin"
We currently do not tag or publish the gitlab approval plugin, we haven't published it since the `v0.2.0` tag.

However we do still pay some burden of maintaining this plugin, there have been 24 commits (including security fixes that didn't apply to other plugins) since the last release:

https://github.com/gravitational/teleport-plugins/commits/0d4c060b4523466951df027dc6c8be300a83d1a7/access/gitl

[2022-03-18 16:36] wadells commented on #458
In a slack discussion here:

https://gravitational.slack.com/archives/C0DF0TPMY/p1647559136740669

@russjones mentions "I don't think the GitLab plugin was ever finished."

@r0mant point out we haven't published it in almost two years, an no one has noticed or mentioned it.  Thus there may not be much demand for this plugin.

[2022-03-18 16:43] wadells commented on #458
@marshall-lee @klizhentas : Do either of you recall

1) If the gitlab plugin was ever finished an in a working state?
2) If we have any customers/users who care about this plugin?

If the answer to both of these is "no" I think the best path forward is to cut the plugin.  If either is yes: we can discuss further or keep this as a backlog item.

[2022-03-18 21:54] logand22 opened #460 "Continuously push images on push to master"
Update GHA to continuously push images to staging ECR when master branch is pushed to. This will require modifying how the versioning of the docker images works in order to create unique builds.

[2022-03-21 08:18] ctrlok commented on #375
@robcoward you can use [this instruction](https://support.hashicorp.com/hc/en-us/articles/360016992613-Using-custom-and-community-providers-in-Terraform-Cloud-and-Enterprise) as a workaround for now

[2022-03-21 09:36] robcoward commented on #375
That looks sweet - I'll give it a try later.... now all I need is for the `provider "teleport" { ... }` block to accept the identity file contents as a string, rather than it being a filename that the provider tries to open.....

[2022-03-21 09:49] ctrlok opened #461 "Problem with connecting to teleport cloud from terraform"
Hi. I'm using the latest version of teleport terraform provider 9.0.0
terraform version 1.1.6
I tried different terraform versions and tried to build terraform provider from master (version 9.0.1) with the same result.

Log:
[code]

[2022-03-21 18:31] #424 closed

[2022-03-21 20:55] wadells commented on #458
Sasha asked about plugin usage in community slack here: https://goteleport.slack.com/archives/CEZH6UL64/p1647631205955769

Doesn't look like anyone is using it.  I propose we give it another week of due dillegence, and then remove the plugin.

[2022-03-22 13:58] pschisa opened #465 "Expand the email plugin to allow different recipients for different roles"
Currently, the email plugin can only specify a single list of `recipients` that defines a list of recipients that will receive all access requests for all roles.

Feature request is to enable the email plugin to define different recipients for different requested roles, similar to the recent work done for the slack plugin and different channels https://github.com/gravitational/teleport-plugins/iss

[2022-03-22 14:29] #453 closed

[2022-03-24 17:16] Aharic commented on #407
Another customer hitting this issue with applications where application gets added on the teleport side but is not propagated to the state file and terraform believes the deploy failed, thus going through the same recreate process @programmerq described above.

[2022-03-24 23:22] r0mant commented on #218
@gzigzigzeo Was this ever implemented? @marcoandredinis joined the integrations team and I was thinking we could use this as one of warmup items to get to know the terraform provider better.

[2022-03-25 10:31] gzigzigzeo commented on #218
@r0mant Yes, App and Database were implemented several releases ago. We are waiting on the reference docs to be merged.

[2022-03-25 15:45] marcoandredinis commented on #448
@programmerq Do you know if this is still happening?
I tried to reproduce the issue but to no avail
I created a couple of tests to validate the behavior here https://github.com/gravitational/teleport-plugins/pull/467

[2022-03-28 11:07] marcoandredinis opened #471 "Failed to create (dynamic) label for `hostname`"
We are relying on the `hostname` binary to set the value for the `hostname` dynamic value
https://github.com/gravitational/teleport/blob/9e1b887d942e55126f3eea5aed5bfc37eae505f4/lib/config/fileconf.go#L180-L182

This works fine for most Linux, Windows and Mac
However, some Linux distros don't ship this binary and spit out this message
[code]
As an example:
[code]
A better approach for *Linux* woul

[2022-03-28 11:09] #471 closed

[2022-03-28 15:13] logand22 commented on #438
An update:

Merging via tag and promoting to quay have been merged. See https://github.com/gravitational/teleport-plugins/pull/456 and https://github.com/gravitational/teleport-plugins/pull/466

https://github.com/gravitational/teleport-plugins/issues/460 tracks the issue of building and pushing docker images on push to master. This would allow developers to test their changes without having to cr

[2022-03-30 04:43] michaelmcallister opened #472 "WASM plugin prints misleading success when it doesn't meet node version constraints"
Purposefully ignoring the node version constraints (>= 16.13 < 17) and trying to generate a new plugin results in confusing messaging advising that it fails validation, but still prints "Happy hacking!'. It doesn't actually build the plugin skeleton directory

**Expected Behaviour**
Bail out when it fails to satisfy the constraints.

**Actual Behaviour**
[code]

**Steps to reproduce**
* `nvm use 1

[2022-03-30 10:10] gzigzigzeo commented on #472
Thank you for the report, will fix.

[2022-03-31 04:34] michaelmcallister opened #474 "WASM plugin: How to use other client APIs?"
I'm trying to use the [emitAuditEvent](https://pkg.go.dev/github.com/gravitational/teleport/api/client#Client.EmitAuditEvent) API from the WASM plugin.

my `event_handler.ts` contains the following:

[code]

and `api.ts` contains the following:

[code]

This was based mainly around the sample code that uses `upsertLock`. The code builds fine (via `yarn asbuild`) but when I add it to the event-hand

[2022-03-31 15:05] logand22 commented on #438
Docs Update:

Merged: https://github.com/gravitational/teleport-plugins/pull/473 which contained updates for README files in the different plugin directories

Descriptions in Quay now available for following repositories:
* https://quay.io/repository/gravitational/access-plugin-email
* https://quay.io/repository/gravitational/access-plugin-mattermost
* https://quay.io/repository/gravitational/acce

[2022-03-31 23:01] michaelmcallister commented on #474
Oh, I see upsertLock is implemented in https://github.com/gravitational/teleport-plugins/blob/feature/wasm/lib/wasm/api.go

So right now this would be the only API method supported, I'm guessing

[2022-04-01 00:48] wadells commented on #458
No one has chimed in -- removing this from the repo.

[2022-04-01 15:52] wadells commented on #458
@webvictim: I recall you mentioned the gitlab plugin was in the sales deck: we should remove that for the time being.

[2022-04-03 16:04] logand22 opened #482 "WASM Plugin: Generate README with directory"
Thoughts on generating README with basic instructions when running:

[code]

could include the name of the directory that was created as title as well as the default `yarn` commands.

[2022-04-04 10:32] marcoandredinis opened #483 "Terraform: use schema.EnvDefaultFunc to standardize env or config variables loading"
Additionally, I didn't want to jam it together with this PR but env var and default lookup could potentially be done in more idiomatic way using [DefaultFunc](https://www.terraform.io/plugin/sdkv2/schemas/schema-behaviors#defaultfunc) and `schema.EnvDefaultFunc`. It would look something like:
[code]
But again I would rather have it PRed separately as it's more of a refactor than change I'm trying

[2022-04-04 13:22] #483 closed

[2022-04-05 02:40] #458 closed

[2022-04-05 16:42] #391 closed

[2022-04-05 16:58] gzigzigzeo commented on #472
Fixed in https://github.com/gzigzigzeo/teleport-plugin-framework

[2022-04-05 17:01] gzigzigzeo commented on #474
Yes, that is correct. Since this project's focus is mostly R&D, I am omitting as much implementation details as I could. I am guessing that we're going to need some kind of a generator for `api.ts` as well. I'll take a look if I could update `protobuf-as` to generate it. Thank you for pointing this out.

[2022-04-05 17:03] gzigzigzeo commented on #482
That's a great idea. I'd just be great to make generated README DRY with the main repo's README to avoid double work on updates. I'll look into it once I finish my current task.

[2022-04-05 17:45] r0mant commented on #465
@marcoandredinis As a part of this work, let's please also document the email plugin. Right now it's not documented at all unlike other plugins: https://goteleport.com/docs/enterprise/workflow/.

[2022-04-05 23:02] ArunNadda opened #484 "Support email plugin without TLS (to SMTP server)"
### What
Email plugin currently can only use TLS communication with SMTP server. This request is to have option to start email plugin without TLS (to SMTP server).

### How
Provide option to disable TLS

### Why
This is good for testing this plugin with SMTP server which dont have TLS enabled.

### Workaround
N/A

[2022-04-05 23:08] ArunNadda opened #485 "update `readme.md` for email plugin to point to correct version path."
### What
[ Readme.md](https://github.com/gravitational/teleport-plugins/blob/master/access/email/README.md) for email plugin points to static link for download (version 7.x). This need to be updated to point to respective version of plugin.

e.g. - https://github.com/gravitational/teleport-plugins/blob/v9.0.3/access/email/README.md, points to plugin version v7.1.0 under [precompiled-binary](https:

[2022-04-06 20:37] crielly opened #486 "Terraform provider should support content, rather than filepaths, for auth"
Currently, teleport terraform provider expects file paths when using TLS auth:

[code]

This puts you in a situation where you must obviously already have the relevant files present on disk.

It would be preferable that the provider config accept content, rather than file paths - similar to how the TF kubernetes provider works.

This would provide users with the option of still dumping key/certs o

[2022-04-08 11:21] marcoandredinis commented on #486
As of 9.0.4 we support base64 encoded strings for the provider auth configuration
[code]

Would that work? (Sorry, if I'm misunderstanding your use case)
Feature PR: https://github.com/gravitational/teleport-plugins/pull/476
Docs PR: https://github.com/gravitational/teleport/pull/11764

[2022-04-13 17:58] r0mant commented on #447
Thank you @marcoandredinis!

@Richard-Barrett We can cut a new release when the PR above merges. Should be able to do it this week.

[2022-04-13 22:19] logand22 commented on #438
With:
* https://github.com/gravitational/teleport/pull/11617
* https://github.com/gravitational/teleport/pull/11934

Documentation + backports for the above repos is added to goteleport.com in their corresponding guide sections.

[2022-04-13 22:20] #438 closed

[2022-04-14 07:04] #447 closed

[2022-04-14 09:36] #465 closed

[2022-04-14 10:23] kbence opened #493 "Upload plugins to a staging bucket"
- [ ] Also generate a Helm index so it can be served later (plugins must be synced first!)

[2022-04-14 16:49] kbence opened #497 "Implement Helm chart for `teleport-plugin-jira`"
- [x] Write tests (using `helm-unittest`)
- [x] Add it to the Drone build (build + upload to the staging and the production buckets)
- [x] Test the Helm chart by installing it and connecting it somewhere (eg. `access-dev.teleportinfra.dev`)
- [x] Document settings
- [x] Document installation

[2022-04-14 16:49] kbence opened #498 "Implement Helm chart for `teleport-plugin-mattermost`"
- [x] Write tests (using `helm-unittest`)
- [ ] Add it to the Drone build (build + upload to the staging and the production buckets)
- [ ] Test the Helm chart by installing it and connecting it somewhere (eg. `access-dev.teleportinfra.dev`)
- [ ] Document settings
- [ ] Document installation

[2022-04-14 16:49] kbence opened #499 "Implement Helm chart for `teleport-plugin-pagerduty`"
- [x] Write tests (using `helm-unittest`)
- [ ] Add it to the Drone build (build + upload to the staging and the production buckets)
- [x] Test the Helm chart by installing it and connecting it somewhere (eg. `access-dev.teleportinfra.dev`)
- [x] Document settings
- [ ] Document installation

[2022-04-14 16:49] kbence opened #500 "Implement Helm chart for `teleport-plugin-slack`"
- [ ] Write tests (using `helm-unittest`)
- [ ] Add it to the Drone build (build + upload to the staging and the production buckets)
- [ ] Test the Helm chart by installing it and connecting it somewhere (eg. `access-dev.teleportinfra.dev`)
- [ ] Document settings
- [ ] Document installation

[2022-04-14 16:49] kbence opened #501 "Implement Helm chart for `event-handler`"
- [ ] Write tests (using `helm-unittest`)
- [ ] Add it to the Drone build (build + upload to the staging and the production buckets)
- [ ] Test the Helm chart by installing it and connecting it somewhere (eg. `access-dev.teleportinfra.dev`)
- [ ] Document settings
- [ ] Document installation

[2022-04-15 01:35] Richard-Barrett commented on #447
Thanks, @marcoandredinis, and @r0mant I know the customer trying to integrate Atlantis will be happy :D

[2022-04-19 14:49] benarent commented on #235
@tcsc , we have an expected timeline? It looks like most people are happy with the RFD now https://github.com/gravitational/teleport-plugins/pull/444

[2022-04-19 17:41] zmb3 commented on #484
Looks like we enforce mandatory TLS: https://github.com/gravitational/teleport-plugins/blob/6e76cc22e624b355ea331a4e9a54f00290172be7/access/email/mailers.go#L56

In theory, removing this would allow users to configure an insecure SMTP port.

[2022-04-20 09:43] marcoandredinis opened #505 "Access/Slack/docs: read token from file"
We support reading the slack token from a file
https://github.com/gravitational/teleport-plugins/blob/6e76cc22e624b355ea331a4e9a54f00290172be7/access/slack/config.go#L43

However, this is not documented

[2022-04-20 21:19] r0mant commented on #484
@marcoandredinis To fix this, let's add a configuration parameter to the SMTP config section that will let users choose the TLS level. It should default to `mandatory`.

[code]

@russjones @xinding33 Does this sound ok to you?

[2022-04-21 01:41] russjones commented on #484
@r0mant I think STARTTLS is one word so maybe `starttls_policy`?

[2022-04-23 23:06] crielly commented on #486
@marcoandredinis That's fabulous. Should I close this issue? Not sure how y'all like to handle that lifecycle, but much appreciate the work as this makes my life a lot easier!

[2022-04-24 23:06] michaelkoetter opened #513 "Terraform "Error reading App""
I tried the "teleport_app" example ([app.tf.example](https://github.com/gravitational/teleport-plugins/blob/master/terraform/example/app.tf.example)) and get the following error:

[code]

The terraform role certainly has the correct verbs (also took that straight from the example):

[code]

Also, the app seems to be created nonetheless. But it isn't "visible" to the terraform provider on subsequen

[2022-04-25 22:59] tcsc commented on #235
@benarent - I'm actually trying to deploy this now. Our new security posture is making things take longer than I'd envisioned - in a good way, though - but I am still trying to have this up by the end of April.

[2022-04-26 06:50] marcoandredinis commented on #486
I'll close it
But feel free to close it next time, as you were the open that opened it

[2022-04-26 06:50] #486 closed

[2022-04-26 13:51] marcoandredinis commented on #513
Hey @michaelkoetter :wave:
Thank you for opening this issue and for the detailed debugging

I was able to reproduce using the Teleport API client:
- create an app
- immediately request that same app <- this returns app not found

As a workaround, you can follow the suggestion from that error message:

`terraform import teleport_app.<app_name> <app_name>`

I'll try to understand what's going on and

[2022-04-26 15:36] stevenGravy opened #514 "Access Plugins will start with expired credentials"
If an identity certificate has expired the access plugin will still start and it's not clear that's an error.  Then when it attempts to connect to the Teleport cluster you will get the error below.  This appears to be a connection error but is actually the expired cert.

To recreate create a very short-lived cert.  Then start the plugin.  It won't give an error that the cert has expired.

[code]

[2022-04-26 16:39] r0mant opened #515 "Trusted cluster token is not marked as sensitive"
From a customer:

[2022-04-26 17:12] #484 closed

[2022-04-27 07:58] marcoandredinis commented on #513
We ended up finding the root cause: cache on the teleport server
You can disable cache while we work on a proper fix
To do so, add the following to your `teleport.yaml` configuration:
[code]

Please bear in mind that disabling cache will have performance impact

It happens here:
https://github.com/gravitational/teleport-plugins/blob/63d3c2624963215ff14295f22ff2e1808c7de54f/terraform/provider/resou

[2022-04-28 01:23] tcsc opened #524 "Update drone build process to use correct Go version on Darwin"
The current plugins build process for Darwin uses the system-installed Go version, which is currently 1.16.9.

This means that the plugins are being build with a version of go that is _unexpected_ by the developers, and potentially unpatched for security vulnerabilities.

This is currently causing the Darwin build of the plugins to fail

[2022-05-02 08:12] tcsc opened #533 "Terraform Provider Registry Client Test Plan"
This issue captures the tests run prior to making the custom Terraform provider registry generally accessible. Note that the intent here is _not_ to test the provider itself, just the distribution mechanism.

# Global Setup
1. Configure the target repository repository with the following Teleport Terraform providers:

   - 8.3.4 (i.e. pre-version 9.0)
   - 9.0.0 (i.e. the last provider to support

[2022-05-03 05:09] benarent opened #536 "Error: Resource instance managed by newer provider version"
While upgrading to the new Terraform provider I was met with this message.

[code]
I fixed this by using `terraform state replace-provider`.

[code]

After this I had to backed up and deleted  `.terraform.lock.hcl`

[code]

After this, I did still need to delete some old resources. I did this using `terraform state rm` and then everything worked out.

[2022-05-03 17:57] bruddy-lively opened #538 "Documentation: Please specify owner/mode for the plugin auth identity files"
In the documentation to setup the Slack plugin (possibly others as well), it's not mentioned what the owner/mode should be for the auth.key, auth.crt, auth.cas files when copied to /var/lib/teleport/plugins/slack/

I'm getting permission denied when running the teleport-slack start command.  One can eventually modify the files to get them to work, but it would be faster and less effort if this was

[2022-05-04 13:39] AgDude opened #539 "ARM/M1 builds for plugins"
Please add ARM builds for Apple M1 to the published releases so we don't have to build the terraform plugin manually.

gz#5327

gz#5468

[2022-05-04 18:37] programmerq opened #540 "Terraform provider reports resource failed to create even when it was created successfully"
Given the following resource:

[code]

This type of error can happen:

[code]

After this error, the app/example object definitely exists in the teleport backend.

I believe this section of the code is what throws the error: https://github.com/gravitational/teleport-plugins/blob/master/terraform/provider/resource_teleport_app.go#L104-L109

After eliminating the teleport rbac system and any user/ro

[2022-05-05 08:03] marcoandredinis commented on #540
Can you please do the same test but disabling cache on the Teleport side?
[code]

I suspect this is a duplicate of https://github.com/gravitational/teleport-plugins/issues/513

[2022-05-05 15:13] AgDude opened #543 "Terraform Provider produced inconsistent result with provision token"
I am creating a new token with terraform and while the token is created, the terraform apply fails with the following message:

[code]

This is terraform 1.1.7 and teleport provider version 1.9.3 (same result with build from master). Run on darwin_arm64 (built provider locally)

[2022-05-05 15:20] AgDude commented on #543
I was able to reproduce this with a very simple terraform module, and it seems to go away when the "namespace" property is removed.

example (slightly different error message):
[code]

[2022-05-09 15:23] programmerq commented on #540
After disabling the cache on the teleport pods, the etcd latency seems to completely break the cluster-- presumably because the pods all need to do many more calls to the backend and some critical calls have timeouts that are too low.

I agree that this is likely a duplicate of #513 and a pause, delay, or simple retry may be all that is needed on the final Client.GetApp call that is done after the

[2022-05-10 02:57] tcsc commented on #235
Just a heads up that our Terraform registry is currently in internal testing and, barring incidents, go GA in the next couple of weeks.

[2022-05-11 19:52] gordalina opened #549 "Terraform Provider crashes"
Take the following snippet which works as expected.

[code]

If I add a label like this

[code]

Terraform complains with the following error. I'd expect terraform to add the dynamic origin automatically.

[code]

But if I do add it manually

[code]

it crashes with the following log

[code]

[2022-05-12 09:06] marcoandredinis commented on #540
Just created a PR to add retries when creating resources (thank you for the suggestion)
It should fix the issue 🤞

[2022-05-17 01:11] #533 closed

[2022-05-17 01:14] #524 closed

[2022-05-17 02:09] tcsc commented on #235
Our custom Terraform registry now in production. The minimum requirement is Terraform is 0.13, as it's the earliest version of Terraform that supports custom registries.

You can configure it by setting up the teleport provider in your HCL like so:

[code]
You may have some issues if you have existing state using a manually installed provider, but that can usually be fixed with:
[code]
It's curren

[2022-05-17 06:27] enkov commented on #235
Can you also add **darwin_arm64** platform to your terraform registry?

[2022-05-18 09:25] #513 closed

[2022-05-18 09:25] #540 closed

[2022-05-19 06:41] marcoandredinis commented on #277
CGO was disabled here
https://github.com/gravitational/teleport-plugins/pull/491

Assuming you are using a recent version, the provider should now work in both alpine and NixOS environments

[2022-05-19 18:21] r0mant opened #555 "Terraform provider crash"
The customer hasn't provided additional details besides this stack trace for now:

[code]

[2022-05-20 15:14] marcoandredinis commented on #543
Hey @AgDude

Thank you for the report

Can you please let me know if you have cache enabled in the teleport cluster?
The config should have something like this:
[code]

[2022-05-20 15:15] #505 closed

[2022-05-21 01:20] AgDude commented on #543
I have no cache section in my teleport config, so it is the default value (I am not sure what the default is).

[2022-05-23 08:16] marcoandredinis commented on #543
It should be on by default
After some local tests, my best guess so far is that it is related with cache

May I please ask you to run a test for me?
Rebuild the provider using the code from this PR https://github.com/gravitational/teleport-plugins/pull/556 and let me know how it goes

[2022-05-23 16:34] #500 closed

[2022-05-23 18:33] programmerq opened #558 "new retry values can't be set when identity_file is set"
The validation logic at https://github.com/gravitational/teleport-plugins/blob/6fc6288310554e70820b18cdbad3814258cf7d53/terraform/provider/provider.go#L209-L211 is trying to set retryBaseDurationStr, retryCapDurationStr, and maxTriesStr based on the value of config.IdentityFile if it is set. This means that if the toml file has config.IdentityFile set, the logs print an error about the data being

[2022-05-24 23:37] #235 closed

[2022-05-24 23:38] r0mant commented on #235
Terraform registry is live now. https://goteleport.com/docs/setup/guides/terraform-provider/

[2022-05-25 13:40] #498 closed

[2022-05-25 15:59] marcoandredinis opened #561 "Add Integration Tests as a new step in CI/CD"
We only have steps for lint and unit tests

As an example: we are not running Terraform acceptance tests in the pipeline

[2022-05-27 17:09] programmerq commented on #539
Related to #235

[2022-06-01 15:48] marcoandredinis commented on #536
I did some tests and it seems it was caused by the upgrade on our underlying lib
We are now using the recommended library from Terraform and should not need to go through this anytime soon.

I did some tests, and was able to upgrade from 9.0.4 to multiple 9.x versions

Please let me know if you happen to hit an error migrating 9.x -> 9.y (or 10.z in the future :sweat_smile: )

[2022-06-06 21:33] #558 closed

[2022-06-07 09:10] marcoandredinis commented on #514
Just to let you know that we had to change the Teleport's client to be able to extract more information from the error message
This was done here https://github.com/gravitational/teleport/pull/12677

We'll work on this specific issue when we cut a new release

[2022-06-07 11:47] kbence opened #573 "Make sure no secrets are stored in the Helm chart's ConfigMaps"
Some of the charts store secrets in ConfigMaps. Let's generate secrets instead of them (eg. configs).

Another solution could be to use some templating mechanism to replace strings in the generated ConfigMaps during startup, but this might increase the amount of work significantly.

[2022-06-07 13:53] kbence opened #574 "Test Helm charts using the staging plugin repository via the helm-s3 plugin"
[Helm-s3 plugin](https://github.com/hypnoglow/helm-s3)

[2022-06-08 08:40] #499 closed

[2022-06-08 15:04] marcoandredinis opened #576 "Auto generate Terraform reference docs"
Our Terraform Provider reference docs must have all the possible fields for each resource.

It's currently missing the most recent fields.

Ideally this would be auto generated using the `tfplugindocs` tool from Hashicorp.
The downside is that we have to either:
- change the format in our docs
- change the format the tool generates

[2022-06-08 17:58] jaxxstorm opened #577 "Add a `go.mod` for the terraform provider"
I would like to bridge the terraform provider into a pulumi provider, but that's not currently possible without a `go.mod`

Would you folks be able to add a `go.mod` so I can reference it :)

[2022-06-08 21:50] programmerq opened #579 "It should be possible to lock the terraform provider for all platforms"
Consider the following terraform code in a blank directory:

[code]

It should be possible to run `terraform init && terraform providers lock -platform=darwin_amd64 -platform=linux_amd64` and end up with a `.terraform.lock.hcl` that locks both platforms. Instead, the following error occurs:

[code]

This same command works for the helm provider with a blank configuration. The difference seems to b

[2022-06-17 18:37] programmerq opened #587 "Cannot access some resource attributes"
Given the following terraform code, I am not able to refer to any values that appear under the metadata attribute:

[code]

That applies successfully, but my real goal is to change the `roles = ["example"]` line in the user to `roles = [teleport_role.example.metadata.name]`

Previous to the merge of https://github.com/gravitational/teleport-plugins/pull/462, this was possible like this: `roles = [

[2022-06-23 13:46] thg-adamdean commented on #61
Also interested.

[2022-06-27 21:38] logand22 opened #592 "Update ECR Public URL with gravitational"
The ECR_PUBLIC url's used in the build pipeline use the default generated alias. Once we acquire `gravitational` as a custom alias we should update the pipeline to use this.

[2022-06-28 19:47] kazikfriedrich opened #593 "Crash in terraform provider v9.3.6"
I'm getting the following output:
[code]

Please note that the tf cache is enabled. This might be related to https://github.com/gravitational/teleport-plugins/issues/555

[2022-06-29 04:08] #497 closed

[2022-06-29 09:17] #573 closed

[2022-06-29 12:10] kazikfriedrich commented on #593
Once the roles managed with TF were manually destroyed - `for role in X Y Z; do tctl rm role/$role; done`, the resulting plan had no errors.

[2022-06-29 13:48] marcoandredinis commented on #593
Hey @kazikfriedrich
Thank you for the report

Is the issue reproducible? If so, can you please describe the actions you did?
Per your last comment, it seems you were trying to delete multiple roles

The issue you linked was solved by ensuring we only accept a change when the Teleport's cache is refreshed with the new state.
At the time I also tested for deletions and they worked

[2022-06-29 14:04] marcoandredinis commented on #543
Cache issues should be fixed since 9.3.4
Can you please try again?

[2022-06-29 15:20] AgDude commented on #543
Thanks for making the update. It still isn't quite right.  Here is the output using plugin version 9.3.7.

[code]

[2022-06-29 15:46] marcoandredinis commented on #543
Yeah... so... namespaces are not actually a well tested or even supported feature.
You should set it to `default` or omit it.

However, that leads me to another question: what did you expect the `namespace` property to do?
Or were you just setting it to kind of categorize things when looking back at the token?

[2022-07-01 01:59] #592 closed

[2022-07-06 13:48] pschisa opened #597 "Update Pagerduty to allow more granular filtering of role notifications"
Similar to Slack and email plugin `role_to_recipients` updates, this request is to add a similar field to pagerduty to allow only certain role requests to be notified in pagerduty based on the role request.

However, unlike the implementation in slack and email, this request is specific to being able to send all non-specified roles to null or exclude them from the pagerduty process.

An example PR

[2022-07-13 08:06] marcoandredinis opened #602 "Terraform: update `terraform-plugin-framework` to v0.9.0"
There are some breaking changes that affect us when going from v0.8.0 to v0.9.0
They are listed here
https://github.com/hashicorp/terraform-plugin-framework/releases/tag/v0.9.0

The main changes required are:
- add `IsNull()` `IsUnkown()` and `String()` to our custom types (`time_type.go` and `duration_type.go`)
- remove the 2nd argument (`Options`) of `MapNestedAttributes` and `ListNestedAttribut

[2022-07-13 10:38] marcoandredinis commented on #587
It's really weird that it works with the lookup but not with the attribute accessor :thinking:

As a workaround we can use the `lookup`, we can define variables (for known values) or we can encode and decode with json for example

[code]

Again, those are workarounds

I'm still investigating the issue to understand what's going on

[2022-07-13 14:09] joe-a-t commented on #587
I mean we can use lookup, it just won't really make sense why on earth we are using lookup to anyone that looks at the code later so I would strongly prefer if it could just be fixed so that `teleport_role.role1.metadata.name` worked the same way it does for all other resources/providers

[2022-07-13 19:11] programmerq commented on #587
https://github.com/hashicorp/terraform-plugin-framework/issues/412

[2022-07-14 07:03] #514 closed, assigned to marcoandredinis

[2022-07-14 16:38] ptgott opened #604 "[event-handler] Validate required config fields up front and pass more helpful error messages to the user"
When configuring the Fluentd plugin, I accidentally left out the `teleport.client_key`, `teleport.client_crt`, and `teleport.root_cas` config fields. When I ran the plugin, I saw the following error message:

[code]

I had to debug the event handler with `dlv` and poke around the source to discover the issue. Frustratingly, it had to do with the missing config fields, which were passed as empty st

[2022-07-15 06:25] marcelobartsch opened #605 "Provide binaries for the terraform provider for other archs"
Hello,
Could be possible you provide binaries for the teleport terraform provider for other arch beside linux?

We are currently working into implement teleport with  terraform anmd having to compile the provider on each employee working in the project is painful and most people are working either in mac/intel or mac/M1 some in wintel machine too. also some of the CI runs on Linux/ARM so having th

[2022-07-15 15:13] ptgott opened #606 "[event-handler] Add an Issuer DN to generated X.509 certs"
The X.509 parsing package in the Java standard library (`sun.security.x509`) requires that X.509 certs [include an Issuer DN field](https://github.com/openjdk-mirror/jdk7u-jdk/blob/f4d80957e89a19a29bb9f9807d2a28351ed7f7df/src/share/classes/sun/security/x509/X509CertInfo.java#L686-L690). Currently, the `event-handler` plugin issues certificates [without this field](https://github.com/gravitational/

[2022-07-18 16:55] programmerq opened #609 "10.0.0 event forwarder crashes with 10.0.0 cluster"
When  running event forwarder version 10.0.0 against a teleport 10.0.0 cluster, the following failure can occur:

[code]

I suspect that this may be due to the 10.0.0 forwarder code being built against the teleport 9.3.9 api: https://github.com/gravitational/teleport-plugins/blob/v10.0.0/go.mod#L13

I would anticipate an error of this nature if the 10.0.0 code produces an event type that the 9.3.9

[2022-07-19 16:09] marcoandredinis commented on #576
Closing as duplicate of https://github.com/gravitational/teleport/issues/11002

[2022-07-19 16:09] #576 closed, assigned to nobody

[2022-07-19 17:53] hugoShaka opened #612 "Race-condition in helm chart release pipeline"
If two releases happen at the same time one of the chart will not be properly released in the helm chart repo.

The release flow is the following:
- download s3 bucket content
- package and index chart (creates index.yaml)
- upload all bucket content, including index.yaml

When pipelines run simultaneously, the second pipeline will generate its index without the chart from the first pipline and ov

[2022-07-19 20:30] #307 closed

[2022-07-19 20:42] r0mant opened #613 "`tag-build-event-handler-darwin` and `tag-build-terraform-darwin` should not use system Go"
These mac pipelines currently use system Go, instead they should download proper Go version for each build.

[2022-07-19 20:47] programmerq commented on #609
Since I forgot to include them yesterday, instructions to reproduce:

* Deploy a 10.0.0 event handler to watch a 10.0.0 Teleport cluster.
* Step through the new resource request feature per the guide in the docs here: https://goteleport.com/docs/enterprise/workflow/resource-requests/?scope=enterprise
* Once an event for this new feature appears, the plugin will crash.

Example of a resource reques

[2022-07-20 07:16] marcoandredinis commented on #609
[v10.0.2](https://github.com/gravitational/teleport-plugins/releases/tag/v10.0.2) was just released

[2022-07-27 15:37] joe-a-t commented on #587
moved to https://github.com/hashicorp/terraform/issues/31527

[2022-07-27 16:36] #613 closed

[2022-08-02 06:19] j-teleport opened #621 "Please update Jira Plugin to remove update permission"
On webpage, https://github.com/gravitational/teleport/discussions/9918

update method is deprecated and not recommended.

But with Jira Plugin, Jira will still need update permission if the customers want to approve access requests from Jira. The article linked is the recommendations for human users approving via the webui or CLI.

Could you please remove required update permission from Jira Plugi

[2022-08-02 15:04] programmerq opened #622 "terraform provider should recreate teleport_trusted_cluster if the role mapping changes"
When trying to change the role mapping on an existing teleport_trusted_cluster terraform resource, the following error happens:

[code]

The terraform provider should handle the required delete and re-create on its own rather than erroring out and asking the user to do it.

gz#6135

[2022-08-03 21:33] r0mant opened #625 "Provide Docker images for arm64"

[2022-08-03 22:20] r0mant commented on #621
@jingsun-teleport Can you update this ticket with more details? Right now it's not clear where do we need to remove the update permission and why.

[2022-08-06 13:02] #286 closed

[2022-08-08 22:36] programmerq opened #628 "Plugins should check for credential expiration at startup"
Currently, if a plugin starts with a credential that is expired, it will proceed to attempt to connect using that credential.

At the very least, this should be a warn-then-continue, or better yet-- refuse to start with an expired credential.

https://github.com/gravitational/teleport-plugins/pull/601 - this did give more stacktrace output when it ran into a problem, but it still doesn't have much

[2022-08-09 15:42] marcoandredinis commented on #587
Fix should come up with 1.2.7+ and 1.3.0+
Closing this issue

[2022-08-11 16:06] #604 closed

[2022-08-11 16:49] russjones commented on #160
@jimbishopp @kbence Are the docs merged for this? Can we close this out?

[2022-08-11 16:52] russjones commented on #160
@kbence I see that the docs PRs are still open, can you apply changes requested and then merge these PRs?

This task is not complete until documentation is available and customers can benefit from the Teleport Plugins Helm Charts.

* https://github.com/gravitational/teleport/pull/13732
* https://github.com/gravitational/teleport/pull/13730
* https://github.com/gravitational/teleport/pull/13729
* h

[2022-08-11 19:42] #602 closed

[2022-08-12 19:15] dumez-k opened #631 "Teleport event handler `configure` command produces incorrect role.yaml"
Expected behavior:
Should produce a role yaml that can be fed into `tctl create -f` directly.

Current behavior:
Produces this:
[code]

The role should be defined before the user. If it isn't create will fail when creating the user with the error `role teleport-event-handler is not found`.

The two should be flipped.

Bug details:
- Teleport version
Teleport Enterprise v10.1.2
- Recreation steps
r

[2022-08-15 08:06] vitorenesduarte commented on #631
The docs (https://goteleport.com/docs/setup/guides/fluentd/#step-36-create-a-user-and-role-for-reading-audit-events) are also outdated: out of order role & user + missing 'session' in the allow rule.

[2022-08-16 20:14] jaxxstorm commented on #577
The go.mod currently isn't usable for a few reasons:

- you're on v10 of the plugins but not updating the `go.mod` for a major version:

[code]

Trying to pull the version by commit throws an error due to the java apps in the repo:

[code]

[2022-08-17 20:50] programmerq commented on #587
I confirmed that my example from the description works as it should. I tested on macos with the following:

[code]

The changes I made are as follows:

[code]

it successfully applied this change:

[code]

👍

[2022-08-24 15:08] ptgott opened #635 "[Jira plugin] Remove the `issue_type` config field"
The only use of the `IssueType` struct, in `Jira.CreateIssue`, hardcodes the `Name` as `"Task"`:

[code]

There's no need to expose an `issue_type` config option to the user. We can remove this to avoid confusion for anyone browsing the Jira plugin source.

[2022-08-24 19:00] pschisa commented on #61
closed by gravitational/teleport-plugins#617

[2022-08-25 13:13] pschisa commented on #61
Re-opening as there is still some final testing to be completed and documentation to be produced

[2022-08-26 22:06] ptgott commented on #606
Hi @EdwardDowling, just checking whether there are any unexpected blockers here. If so, I can plan to document using the Fluentd exporter with the ELK stack (which would become the EFK stack), rather than the canonical ELK stack as originally planned. Thanks!

[2022-08-29 16:12] EdwardDowling commented on #606
Sorry for the delay, I've made a PR for adding the issuer DN field. If we want to add options for the user to configure the fields I could add them to this PR.

[2022-08-29 20:05] ptgott commented on #606
This looks good, thanks!

[2022-08-30 15:54] webvictim opened #641 "Event handler should reread certificates when updated"
One great use case for Machine ID is for the event handler/exporter plugin to use its auto-refreshing credentials to read and forward Teleport's audit logs in a secure way (without needing a long-lived identity file)

At the moment, I don't believe this is possible as the plugin only reads its credentials on startup. It'd be better if it watched the directory and reloaded the credentials gracefull

[2022-08-31 03:36] ArunNadda opened #643 "Create a new terraform-provider-teleport command that would iterate over all supported resources and import them into terraform state"
terraform-provider-teleport shall have a new command, which can be used to import manually created resources to terraform state. In addition to this it should also create a `tf` file for these resources.

### What problem does this solve?
It will allow already create resources in teleport to be imported to terraform.

### If a workaround exists, please include it.
Resources can be imported current

[2022-08-31 14:54] r0mant opened #645 "TestBench is flaky"
https://console.cloud.google.com/cloud-build/builds/6d2150e6-cfb1-4bcb-ae08-8c0403b90d8d?project=ci-account&authuser=1

[code]

[2022-08-31 15:37] r0mant commented on #606
@ptgott Do you have an environment set up by chance where we can validate that the fix Edward made [in this PR](https://github.com/gravitational/teleport-plugins/pull/640) fixes the issue?

[2022-08-31 15:52] ptgott commented on #606
@r0mant I am writing/testing a guide to using the event handler with the Elastic Stack this week. I'll use an event handler build from this branch and post here when I've validated that this works.

[2022-08-31 18:10] ptgott commented on #606
I ran into an issue with this, documented here: https://github.com/gravitational/teleport-plugins/pull/640#issuecomment-1233254971

[2022-08-31 23:50] ArunNadda commented on #593
So in case, a resource (checked with `role`, `saml` and `user`) is modified outside of terraform in such a way that index of an element is higher than original value in `state`, terraform gives this error.

Here are the steps (for a role):
- create a role, with one logins value i.e. logins = ["ubuntu"].
- modify this role to add additional user under logins. (say test).
- terraform plan post this

[2022-09-02 17:23] marcoandredinis commented on #593
Thank you so much for the detailed replication steps @ArunNadda

I'll work on the issue and let you know when it's fixed

[2022-09-05 09:07] #606 closed

[2022-09-07 07:18] #593 closed

[2022-09-08 17:56] nklaassen opened #652 "Check error returned by semaphore acquire"
We currently don't check the error returned by the semaphore acquire here https://github.com/gravitational/teleport-plugins/blob/bec9a9af07972eacdab605d1f6225bf41239cd53/event-handler/session_events_job.go#L74

This can cause a panic if the context is cancelled (likely because the event handler is already terminating for another reason).
[code]

We should check and handle the error, and add a lint

[2022-09-08 20:00] stevenGravy opened #653 "Event-handler errors and exits for unrecognized event"
If an event is unrecognized this can cause the event-handler plugin to exit. This occurred using a `10.1.4` event-handler plugin with a `10.1.9` Teleport cluster since the session access event is new.  The handler should skip or handle otherwise then just exitting.

[code]

[2022-09-09 15:54] marcoandredinis commented on #635
We can either remove it or allow for a couple of issue types
I would start with `Task,Story`

Besides those I don't see a real use case for controlling access
Even `Story` seems to be a long shot but no I'm not going to judge how people use Jira :sweat_smile:

[2022-09-12 16:43] #631 closed

[2022-09-12 22:29] programmerq opened #655 "Add ability to DM requester when a request reaches resolution (slack plugin)"
Add the ability to configure the slack plugin to DM the requester to notify them of the resolution for the request.

In a case where regular users don't want to be in the slack channel where all access requests are posted, having the ability to do a notify-only to the requester directly can be helpful. This is especially true for cases where approval may not come right away.

gz#6726

[2022-09-14 23:26] irwanshofwan opened #657 "Provider produced inconsistent result after apply"
I create teleport terraform module for remove duplication code and reuse same code for creating roles.
[code]

Here's my module that I'm working on

[code]
I set the default value to null and type is `list(string)`. I expect when I only fill name the env attribute will not be used.
My development environment

- Terraform 1.2.1
- Teleport 9.3.6
- Teleport provider 9.3.6

[2022-09-16 01:17] ArunNadda opened #658 "Ability to enable auto-approval in PagerDuty helm chart."
The Helm Chart for PagerDuty currently lacks the ability to enable auto-approval. We should provide this option in helm-chart.

[2022-09-16 22:54] Colum opened #659 "Fix spelling of PagerDuty Slack message"
Looking for a grammar fix on the PagerDuty slack message.

This [line of code](https://github.com/gravitational/teleport-plugins/blob/0a8406bfa6afa616905f57b7b1df8de906a91ce6/access/pagerduty/app.go#L499) would have this change:

[code]

 I appreciate you looking into my grammatical pedantry, its a message we are starting to see more of in our slack.

Thank you!

[2022-09-26 14:14] hugoShaka commented on #658
Hello @ArunNadda, I double checked in the documentation and the code: auto-approval does not seem gated behind any setting. As far as I know the Helm chart behaves exactly as the bare plugin.

Can you explain what you were trying to achieve and what error you encountered?

[2022-09-28 19:09] alexlafreniere commented on #539
+1, we have a mix of arm64 and amd64 machines amongst our dev team and having published builds for both CPU architectures would make our lives much much easier.

[2022-09-28 20:33] russjones commented on #160
@jimbishopp @kbence I think all the documentation is now merged, can we close this ticket?

[2022-09-28 21:24] #439 closed

[2022-09-28 21:25] #160 closed

[2022-09-29 19:32] hugoShaka commented on #641
While we can add this in all the plugins, it would be great also to have tbot either execute a command on reload (e.g. sending a signal or restarting a daemon) or have tbot run our process, like [consul-agent exec mode](https://github.com/hashicorp/consul-template/blob/main/docs/configuration.md#exec-mode).

cc @strideynet

[2022-09-30 00:28] ArunNadda commented on #658
hmmm, did autoapproval behaviour change recently?  I remember reading docs that it required `auto_approve = true` in `toml` file for PD 🤔

As its still present in v9 docs. ref: https://goteleport.com/docs/ver/9.0/enterprise/workflow/ssh-approval-pagerduty/#on-call-auto-approval

[code]

With current behaviour, helm chart should also work. Thanks